/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { BereachCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  SearchLinkedInJobsRequest,
  SearchLinkedInJobsRequest$zodSchema,
} from "../models/searchlinkedinjobsop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Search LinkedIn Jobs
 *
 * @remarks
 * # Search LinkedIn Jobs
 *
 * Find job listings on LinkedIn by keywords, location, job type, experience level, and workplace type.
 *
 * ## Parameters
 * - **keywords** (optional): Search terms matched against job title, company name, and description
 *
 * ## Keyword syntax (Boolean operators)
 * Keywords support LinkedIn Boolean search syntax:
 * - **Exact phrase**: `"frontend engineer"` — matches only that exact title
 * - **AND**: `React AND TypeScript` — both terms required (spaces default to AND)
 * - **OR**: `"frontend engineer" OR "front-end developer"` — either term
 * - **NOT**: `engineer NOT intern` — exclude unwanted terms
 * - **Parentheses**: `(React OR Vue) AND "senior engineer"` — group logic
 *
 * Operators must be **UPPERCASE**. Precedence: Quotes > Parentheses > NOT > AND > OR.
 *
 * ## Available filters
 * | Filter | Type | Description | Resolve IDs via |
 * |--------|------|-------------|------------------|
 * | `location` | string[] | Geo IDs | `/search/linkedin/parameters` type=`GEO` |
 * | `datePosted` | string | `"past-24h"` \| `"past-week"` \| `"past-month"` | — |
 * | `sortBy` | string | `"relevance"` \| `"date"` | — |
 * | `jobType` | string[] | Employment type codes (see below) | — |
 * | `experienceLevel` | string[] | Seniority codes (see below) | — |
 * | `workplaceType` | string[] | Work location codes (see below) | — |
 *
 * ### Job type codes
 * | Code | Type |
 * |------|------|
 * | `F` | Full-time |
 * | `P` | Part-time |
 * | `C` | Contract |
 * | `T` | Temporary |
 * | `I` | Internship |
 * | `V` | Volunteer |
 * | `O` | Other |
 *
 * ### Experience level codes
 * | Code | Level |
 * |------|-------|
 * | `1` | Internship |
 * | `2` | Entry level |
 * | `3` | Associate |
 * | `4` | Mid-Senior level |
 * | `5` | Director |
 * | `6` | Executive |
 *
 * ### Workplace type codes
 * | Code | Type |
 * |------|------|
 * | `1` | On-site |
 * | `2` | Remote |
 * | `3` | Hybrid |
 *
 * ## Response fields (per item)
 * | Field | Type | Description |
 * |-------|------|-------------|
 * | `title` | string | Job title |
 * | `company` | string\|null | Hiring company name |
 * | `companyUrl` | string\|null | Company LinkedIn page URL |
 * | `companyLogo` | string\|null | Company logo URL |
 * | `location` | string\|null | Job location |
 * | `workplaceType` | string\|null | On-site / Remote / Hybrid |
 * | `postedAt` | string\|null | Human-readable posting time (e.g. `"2 days ago"`) |
 * | `jobUrl` | string | Direct URL to the job listing |
 * | `listingId` | string | LinkedIn job listing ID |
 *
 * ## Pagination
 * - Default page size: 10, max: 50
 * - Use `start` + `count` to paginate. Check `hasMore` for more pages.
 *
 * ## Example workflows
 * 1. **Job monitoring**: Search by title + location → track new openings in your area
 * 2. **Competitive hiring analysis**: Search by company keywords → see what roles competitors are hiring for
 * 3. **Market demand research**: Search by skills → gauge demand for specific expertise
 *
 * ## Credits
 * 1 credit per 20 items returned (minimum 1 credit if any results, 0 if empty).
 */
export function linkedInSearchSearchJobs(
  client$: BereachCore,
  request: SearchLinkedInJobsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: BereachCore,
  request: SearchLinkedInJobsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => SearchLinkedInJobsRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = encodeJSON("body", payload$, { explode: true });
  const path$ = pathToFunc("/search/linkedin/jobs")();

  const headers$ = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "searchLinkedInJobs",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
