/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { BereachCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { BereachError } from "../models/errors/bereach-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Resolve text to LinkedIn search parameter IDs (typeahead)
 *
 * @remarks
 * # Resolve Search Parameters
 *
 * Converts human-readable text into LinkedIn numeric IDs required by search filters. This is a **prerequisite step** before using location, industry, company, or school filters in any search endpoint.
 *
 * ## Supported types
 * | Type | Description | Use with filter |
 * |------|-------------|------------------|
 * | `GEO` | Geographic locations (cities, regions, countries) | `location` filter in people, companies, jobs |
 * | `COMPANY` | Companies and organizations | `currentCompany`, `pastCompany`, `authorCompany` |
 * | `INDUSTRY` | Industries and sectors | `industry`, `authorIndustry` |
 * | `SCHOOL` | Schools and universities | `school` filter in people search |
 * | `CONNECTIONS` | Your LinkedIn connections by name | Identify connection URNs |
 * | `PEOPLE` | Any LinkedIn user by name | Identify profile URNs for `connectionOf` |
 *
 * ## How to use
 * ```
 * Step 1: POST /search/linkedin/parameters { type: 'GEO', keywords: 'Paris' }
 *         → [{ id: '105015875', title: 'Paris, Île-de-France, France', type: 'GEO' }]
 * Step 2: POST /search/linkedin/people { location: ['105015875'], keywords: 'engineer' }
 *         → returns engineers in Paris
 * ```
 *
 * ## Response format
 * Each item contains `id` (the LinkedIn numeric ID to use in filters), `title` (human-readable label), and `type` (the parameter type).
 *
 * ## Tips
 * - Use short, specific keywords for best results (e.g. `"Paris"` not `"Paris, France"`)
 * - The API returns up to `limit` results (default 10, max 50)
 * - Results are ranked by relevance
 * - IDs are stable — you can cache them for repeated searches
 */
export function linkedInSearchResolveParameters(
  client: BereachCore,
  request: operations.ResolveLinkedInSearchParametersRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.ResolveLinkedInSearchParametersResponse,
    | errors.ResolveLinkedInSearchParametersBadRequestError
    | errors.ResolveLinkedInSearchParametersUnauthorizedError
    | errors.ResolveLinkedInSearchParametersForbiddenError
    | errors.ResolveLinkedInSearchParametersNotFoundError
    | errors.ResolveLinkedInSearchParametersConflictError
    | errors.ResolveLinkedInSearchParametersGoneError
    | errors.ResolveLinkedInSearchParametersUnprocessableEntityError
    | errors.ResolveLinkedInSearchParametersTooManyRequestsError
    | errors.ResolveLinkedInSearchParametersInternalServerError
    | BereachError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: BereachCore,
  request: operations.ResolveLinkedInSearchParametersRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.ResolveLinkedInSearchParametersResponse,
      | errors.ResolveLinkedInSearchParametersBadRequestError
      | errors.ResolveLinkedInSearchParametersUnauthorizedError
      | errors.ResolveLinkedInSearchParametersForbiddenError
      | errors.ResolveLinkedInSearchParametersNotFoundError
      | errors.ResolveLinkedInSearchParametersConflictError
      | errors.ResolveLinkedInSearchParametersGoneError
      | errors.ResolveLinkedInSearchParametersUnprocessableEntityError
      | errors.ResolveLinkedInSearchParametersTooManyRequestsError
      | errors.ResolveLinkedInSearchParametersInternalServerError
      | BereachError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations.ResolveLinkedInSearchParametersRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/search/linkedin/parameters")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.token);
  const securityInput = secConfig == null ? {} : { token: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "resolveLinkedInSearchParameters",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.token,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: [
      "400",
      "401",
      "403",
      "404",
      "409",
      "410",
      "422",
      "429",
      "4XX",
      "500",
      "5XX",
    ],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.ResolveLinkedInSearchParametersResponse,
    | errors.ResolveLinkedInSearchParametersBadRequestError
    | errors.ResolveLinkedInSearchParametersUnauthorizedError
    | errors.ResolveLinkedInSearchParametersForbiddenError
    | errors.ResolveLinkedInSearchParametersNotFoundError
    | errors.ResolveLinkedInSearchParametersConflictError
    | errors.ResolveLinkedInSearchParametersGoneError
    | errors.ResolveLinkedInSearchParametersUnprocessableEntityError
    | errors.ResolveLinkedInSearchParametersTooManyRequestsError
    | errors.ResolveLinkedInSearchParametersInternalServerError
    | BereachError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations.ResolveLinkedInSearchParametersResponse$inboundSchema,
    ),
    M.jsonErr(
      400,
      errors.ResolveLinkedInSearchParametersBadRequestError$inboundSchema,
    ),
    M.jsonErr(
      401,
      errors.ResolveLinkedInSearchParametersUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(
      403,
      errors.ResolveLinkedInSearchParametersForbiddenError$inboundSchema,
    ),
    M.jsonErr(
      404,
      errors.ResolveLinkedInSearchParametersNotFoundError$inboundSchema,
    ),
    M.jsonErr(
      409,
      errors.ResolveLinkedInSearchParametersConflictError$inboundSchema,
    ),
    M.jsonErr(
      410,
      errors.ResolveLinkedInSearchParametersGoneError$inboundSchema,
    ),
    M.jsonErr(
      422,
      errors
        .ResolveLinkedInSearchParametersUnprocessableEntityError$inboundSchema,
    ),
    M.jsonErr(
      429,
      errors.ResolveLinkedInSearchParametersTooManyRequestsError$inboundSchema,
    ),
    M.jsonErr(
      500,
      errors.ResolveLinkedInSearchParametersInternalServerError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
