/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { BereachCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { BereachError } from "../models/errors/bereach-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Search LinkedIn Posts
 *
 * @remarks
 * # Search LinkedIn Posts
 *
 * Search LinkedIn's content index for posts matching your keywords and filters. Returns structured post data including full text, engagement metrics, author info, and URLs.
 *
 * ## Required parameters
 * - **keywords** (string, required): The search terms to match against post content. Examples: `"AI automation"`, `"remote work trends"`, `"SaaS growth strategies"`.
 *
 * ## Keyword syntax (Boolean operators)
 * Keywords support LinkedIn Boolean search syntax:
 * - **Exact phrase**: `"outreach automation"` — matches only that exact phrase
 * - **AND**: `AI AND marketing` — both terms required (spaces default to AND)
 * - **OR**: `"growth hacking" OR "growth marketing"` — either term
 * - **NOT**: `outreach NOT webinar` — exclude unwanted terms
 * - **Parentheses**: `(AI OR ML) AND "case study"` — group logic
 *
 * Operators must be **UPPERCASE**. Precedence: Quotes > Parentheses > NOT > AND > OR.
 *
 * ## Available filters
 * | Filter | Type | Description |
 * |--------|------|-------------|
 * | `sortBy` | `"relevance"` \| `"date"` | Sort by relevance (default) or most recent first |
 * | `datePosted` | `"past-24h"` \| `"past-week"` \| `"past-month"` | Filter by publication recency |
 * | `contentType` | `"images"` \| `"videos"` \| `"documents"` | Filter by media type |
 * | `authorIndustry` | string[] | Author's industry IDs (resolve via `/search/linkedin/parameters` with type=`INDUSTRY`) |
 * | `authorCompany` | string[] | Author's company IDs (resolve via `/search/linkedin/parameters` with type=`COMPANY`) |
 *
 * ## Response fields (per item)
 * | Field | Type | Description |
 * |-------|------|-------------|
 * | `postUrl` | string | Direct URL to the LinkedIn post |
 * | `text` | string | Full post text content |
 * | `date` | number | Publication timestamp (ms since epoch) |
 * | `likesCount` | number | Total reactions |
 * | `commentsCount` | number | Total comments |
 * | `sharesCount` | number | Total shares/reposts |
 * | `author.name` | string | Author's display name |
 * | `author.profileUrl` | string | Author's LinkedIn profile URL |
 * | `author.headline` | string | Author's headline |
 * | `author.isCompany` | boolean | Whether the author is a company page |
 * | `isRepost` | boolean | Whether this is a repost of another post |
 *
 * ## Pagination
 * - Default page size: 10, max: 50
 * - Use `start` + `count` to paginate: `start=0, count=10` → page 1, `start=10, count=10` → page 2
 * - Check `hasMore` in the response to know if more pages exist
 * - `paging.total` gives the estimated total number of results
 *
 * ## Example workflows
 * 1. **Content research**: Search for trending topics → analyze top posts → extract engagement patterns
 * 2. **Lead generation**: Search for posts about problems your product solves → extract author profiles
 * 3. **Competitive intelligence**: Search for competitor mentions → track sentiment and engagement
 *
 * ## Credits
 * 1 credit per 20 items returned (minimum 1 credit if any results, 0 if empty).
 */
export function linkedinSearchSearchPosts(
  client: BereachCore,
  request: operations.SearchLinkedInPostsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.SearchLinkedInPostsResponse,
    | errors.SearchLinkedInPostsBadRequestError
    | errors.SearchLinkedInPostsUnauthorizedError
    | errors.SearchLinkedInPostsForbiddenError
    | errors.SearchLinkedInPostsNotFoundError
    | errors.SearchLinkedInPostsConflictError
    | errors.SearchLinkedInPostsGoneError
    | errors.SearchLinkedInPostsUnprocessableEntityError
    | errors.SearchLinkedInPostsTooManyRequestsError
    | errors.SearchLinkedInPostsInternalServerError
    | BereachError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: BereachCore,
  request: operations.SearchLinkedInPostsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.SearchLinkedInPostsResponse,
      | errors.SearchLinkedInPostsBadRequestError
      | errors.SearchLinkedInPostsUnauthorizedError
      | errors.SearchLinkedInPostsForbiddenError
      | errors.SearchLinkedInPostsNotFoundError
      | errors.SearchLinkedInPostsConflictError
      | errors.SearchLinkedInPostsGoneError
      | errors.SearchLinkedInPostsUnprocessableEntityError
      | errors.SearchLinkedInPostsTooManyRequestsError
      | errors.SearchLinkedInPostsInternalServerError
      | BereachError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(operations.SearchLinkedInPostsRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/search/linkedin/posts")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.token);
  const securityInput = secConfig == null ? {} : { token: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "searchLinkedInPosts",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.token,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: [
      "400",
      "401",
      "403",
      "404",
      "409",
      "410",
      "422",
      "429",
      "4XX",
      "500",
      "5XX",
    ],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.SearchLinkedInPostsResponse,
    | errors.SearchLinkedInPostsBadRequestError
    | errors.SearchLinkedInPostsUnauthorizedError
    | errors.SearchLinkedInPostsForbiddenError
    | errors.SearchLinkedInPostsNotFoundError
    | errors.SearchLinkedInPostsConflictError
    | errors.SearchLinkedInPostsGoneError
    | errors.SearchLinkedInPostsUnprocessableEntityError
    | errors.SearchLinkedInPostsTooManyRequestsError
    | errors.SearchLinkedInPostsInternalServerError
    | BereachError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.SearchLinkedInPostsResponse$inboundSchema),
    M.jsonErr(400, errors.SearchLinkedInPostsBadRequestError$inboundSchema),
    M.jsonErr(401, errors.SearchLinkedInPostsUnauthorizedError$inboundSchema),
    M.jsonErr(403, errors.SearchLinkedInPostsForbiddenError$inboundSchema),
    M.jsonErr(404, errors.SearchLinkedInPostsNotFoundError$inboundSchema),
    M.jsonErr(409, errors.SearchLinkedInPostsConflictError$inboundSchema),
    M.jsonErr(410, errors.SearchLinkedInPostsGoneError$inboundSchema),
    M.jsonErr(
      422,
      errors.SearchLinkedInPostsUnprocessableEntityError$inboundSchema,
    ),
    M.jsonErr(
      429,
      errors.SearchLinkedInPostsTooManyRequestsError$inboundSchema,
    ),
    M.jsonErr(500, errors.SearchLinkedInPostsInternalServerError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
