/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { BereachCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { BereachError } from "../models/errors/bereach-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Search LinkedIn Companies
 *
 * @remarks
 * # Search LinkedIn Companies
 *
 * Find companies on LinkedIn by name, industry, location, and employee count. Returns structured company data including name, industry, location, and follower count.
 *
 * ## Parameters
 * - **keywords** (optional): Search terms matched against company name, description, and specialties
 *
 * ## Keyword syntax (Boolean operators)
 * Keywords support LinkedIn Boolean search syntax:
 * - **Exact phrase**: `"artificial intelligence"` — matches only that exact phrase
 * - **AND**: `fintech AND payments` — both terms required (spaces default to AND)
 * - **OR**: `SaaS OR "cloud computing"` — either term
 * - **NOT**: `consulting NOT staffing` — exclude unwanted terms
 * - **Parentheses**: `(AI OR ML) AND healthcare` — group logic
 *
 * Operators must be **UPPERCASE**. Precedence: Quotes > Parentheses > NOT > AND > OR.
 *
 * ## Available filters
 * | Filter | Type | Description | Resolve IDs via |
 * |--------|------|-------------|------------------|
 * | `location` | string[] | HQ geo IDs | `/search/linkedin/parameters` type=`GEO` |
 * | `industry` | string[] | Industry IDs | `/search/linkedin/parameters` type=`INDUSTRY` |
 * | `companySize` | string[] | Employee count codes (see below) | — |
 *
 * ### Company size codes
 * | Code | Employees |
 * |------|-----------|
 * | `A` | 1–10 |
 * | `B` | 11–50 |
 * | `C` | 51–200 |
 * | `D` | 201–500 |
 * | `E` | 501–1,000 |
 * | `F` | 1,001–5,000 |
 * | `G` | 5,001–10,000 |
 * | `H` | 10,001+ |
 * | `I` | Self-employed |
 *
 * ## Response fields (per item)
 * | Field | Type | Description |
 * |-------|------|-------------|
 * | `name` | string | Company display name |
 * | `profileUrl` | string | LinkedIn company page URL |
 * | `summary` | string\|null | Company tagline/description |
 * | `industry` | string\|null | Primary industry |
 * | `location` | string\|null | HQ location |
 * | `followersCount` | number\|null | Number of LinkedIn followers |
 *
 * ## Pagination
 * - Default page size: 10, max: 50
 * - Use `start` + `count` to paginate. Check `hasMore` for more pages.
 *
 * ## Example workflows
 * 1. **Market research**: Search by industry + location → map the competitive landscape
 * 2. **Sales targeting**: Search by industry + size → build a list of target accounts
 * 3. **Partnership discovery**: Search by keywords + location → find potential partners
 *
 * ## Credits
 * 1 credit per 20 items returned (minimum 1 credit if any results, 0 if empty).
 */
export function linkedInSearchSearchCompanies(
  client: BereachCore,
  request: operations.SearchLinkedInCompaniesRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.SearchLinkedInCompaniesResponse,
    | errors.SearchLinkedInCompaniesBadRequestError
    | errors.SearchLinkedInCompaniesUnauthorizedError
    | errors.SearchLinkedInCompaniesForbiddenError
    | errors.SearchLinkedInCompaniesNotFoundError
    | errors.SearchLinkedInCompaniesConflictError
    | errors.SearchLinkedInCompaniesGoneError
    | errors.SearchLinkedInCompaniesUnprocessableEntityError
    | errors.SearchLinkedInCompaniesTooManyRequestsError
    | errors.SearchLinkedInCompaniesInternalServerError
    | BereachError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: BereachCore,
  request: operations.SearchLinkedInCompaniesRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.SearchLinkedInCompaniesResponse,
      | errors.SearchLinkedInCompaniesBadRequestError
      | errors.SearchLinkedInCompaniesUnauthorizedError
      | errors.SearchLinkedInCompaniesForbiddenError
      | errors.SearchLinkedInCompaniesNotFoundError
      | errors.SearchLinkedInCompaniesConflictError
      | errors.SearchLinkedInCompaniesGoneError
      | errors.SearchLinkedInCompaniesUnprocessableEntityError
      | errors.SearchLinkedInCompaniesTooManyRequestsError
      | errors.SearchLinkedInCompaniesInternalServerError
      | BereachError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(operations.SearchLinkedInCompaniesRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/search/linkedin/companies")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.token);
  const securityInput = secConfig == null ? {} : { token: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "searchLinkedInCompanies",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.token,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: [
      "400",
      "401",
      "403",
      "404",
      "409",
      "410",
      "422",
      "429",
      "4XX",
      "500",
      "5XX",
    ],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.SearchLinkedInCompaniesResponse,
    | errors.SearchLinkedInCompaniesBadRequestError
    | errors.SearchLinkedInCompaniesUnauthorizedError
    | errors.SearchLinkedInCompaniesForbiddenError
    | errors.SearchLinkedInCompaniesNotFoundError
    | errors.SearchLinkedInCompaniesConflictError
    | errors.SearchLinkedInCompaniesGoneError
    | errors.SearchLinkedInCompaniesUnprocessableEntityError
    | errors.SearchLinkedInCompaniesTooManyRequestsError
    | errors.SearchLinkedInCompaniesInternalServerError
    | BereachError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.SearchLinkedInCompaniesResponse$inboundSchema),
    M.jsonErr(400, errors.SearchLinkedInCompaniesBadRequestError$inboundSchema),
    M.jsonErr(
      401,
      errors.SearchLinkedInCompaniesUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(403, errors.SearchLinkedInCompaniesForbiddenError$inboundSchema),
    M.jsonErr(404, errors.SearchLinkedInCompaniesNotFoundError$inboundSchema),
    M.jsonErr(409, errors.SearchLinkedInCompaniesConflictError$inboundSchema),
    M.jsonErr(410, errors.SearchLinkedInCompaniesGoneError$inboundSchema),
    M.jsonErr(
      422,
      errors.SearchLinkedInCompaniesUnprocessableEntityError$inboundSchema,
    ),
    M.jsonErr(
      429,
      errors.SearchLinkedInCompaniesTooManyRequestsError$inboundSchema,
    ),
    M.jsonErr(
      500,
      errors.SearchLinkedInCompaniesInternalServerError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
