/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { BereachCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { BereachError } from "../models/errors/bereach-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Sales Navigator People/Lead Search
 *
 * @remarks
 * # Sales Navigator People Search
 *
 * Search for leads in LinkedIn Sales Navigator with advanced filters. Returns enriched profile data including tenure, premium status, and open profile flag.
 *
 * ## Available filters
 * | Filter | Type | Description |
 * |--------|------|-------------|
 * | `keywords` | string | Search terms |
 * | `title` | string | Job title keywords |
 * | `company` | {include?, exclude?} | Company IDs with include/exclude |
 * | `industry` | {include?, exclude?} | Industry IDs with include/exclude |
 * | `location` | string[] | Geography IDs |
 * | `seniority` | string[] | Seniority levels (1-10) |
 * | `function` | string[] | Job function IDs |
 * | `tenure` | {min?, max?}[] | Years at current company |
 * | `profileLanguage` | string[] | Profile language codes |
 * | `connectionDegree` | string[] | Network distance (1, 2, 3) |
 * | `school` | string[] | School IDs |
 * | `yearsOfExperience` | string[] | Experience ranges |
 *
 * ## Response fields (per item)
 * | Field | Type | Description |
 * |-------|------|-------------|
 * | `id` | string | Sales Navigator lead ID |
 * | `name`, `firstName`, `lastName` | string | Name |
 * | `memberUrn` | string | LinkedIn member URN |
 * | `profileUrn` | string | Canonical profile URN (`urn:li:fsd_profile:ACoA...` or `urn:li:fsd_profile:ACwA...`) — use directly with visit/connect/message endpoints |
 * | `profileUrl` | string | Public LinkedIn profile URL `https://www.linkedin.com/in/<encrypted-id>`. Sales Nav does not expose canonical vanity slugs — open in a browser and LinkedIn redirects to `/in/<vanity-name>`. To resolve programmatically, call `POST /resolve/linkedin/profiles`. |
 * | `salesNavUrl` | string | Sales Navigator lead URL |
 * | `networkDistance` | string | Connection degree |
 * | `premium` | boolean | LinkedIn Premium subscriber |
 * | `openProfile` | boolean | Accepts free InMail |
 * | `pendingInvitation` | boolean | Connection request already sent |
 * | `currentPositions` | array | With company, role, tenure details |
 *
 * ## Credits
 *
 * ## JSON validity (critical)
 * Every array field (seniority, function, location, companyHeadcount, companyType, connectionDegree, yearsOfExperience, profileLanguage, school) MUST be a valid JSON array of double-quoted strings, e.g. `["Director","Vice President"]`. Never pipe-separated prose (`Director | Vice President`), never unquoted values (`United States`), never merge multiple options into one element. Malformed JSON means the filter is dropped and the search runs unfiltered.
 */
export function salesNavPeople(
  client: BereachCore,
  request: operations.SearchSalesNavPeopleRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.SearchSalesNavPeopleResponse,
    | errors.BadRequestError
    | errors.UnauthorizedError
    | errors.ForbiddenError
    | errors.NotFoundError
    | errors.ConflictError
    | errors.GoneError
    | errors.UnprocessableEntityError
    | errors.TooManyRequestsError
    | errors.InternalServerError
    | errors.BadGatewayError
    | errors.ServiceUnavailableError
    | BereachError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: BereachCore,
  request: operations.SearchSalesNavPeopleRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.SearchSalesNavPeopleResponse,
      | errors.BadRequestError
      | errors.UnauthorizedError
      | errors.ForbiddenError
      | errors.NotFoundError
      | errors.ConflictError
      | errors.GoneError
      | errors.UnprocessableEntityError
      | errors.TooManyRequestsError
      | errors.InternalServerError
      | errors.BadGatewayError
      | errors.ServiceUnavailableError
      | BereachError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(operations.SearchSalesNavPeopleRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/search/linkedin/sales-nav/people")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.token);
  const securityInput = secConfig == null ? {} : { token: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "searchSalesNavPeople",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.token,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.SearchSalesNavPeopleResponse,
    | errors.BadRequestError
    | errors.UnauthorizedError
    | errors.ForbiddenError
    | errors.NotFoundError
    | errors.ConflictError
    | errors.GoneError
    | errors.UnprocessableEntityError
    | errors.TooManyRequestsError
    | errors.InternalServerError
    | errors.BadGatewayError
    | errors.ServiceUnavailableError
    | BereachError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.SearchSalesNavPeopleResponse$inboundSchema),
    M.jsonErr(400, errors.BadRequestError$inboundSchema),
    M.jsonErr(401, errors.UnauthorizedError$inboundSchema),
    M.jsonErr(403, errors.ForbiddenError$inboundSchema),
    M.jsonErr(404, errors.NotFoundError$inboundSchema),
    M.jsonErr(409, errors.ConflictError$inboundSchema),
    M.jsonErr(410, errors.GoneError$inboundSchema),
    M.jsonErr(422, errors.UnprocessableEntityError$inboundSchema),
    M.jsonErr(429, errors.TooManyRequestsError$inboundSchema),
    M.jsonErr(500, errors.InternalServerError$inboundSchema),
    M.jsonErr(502, errors.BadGatewayError$inboundSchema),
    M.jsonErr(503, errors.ServiceUnavailableError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
