/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { BereachCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { BereachError } from "../models/errors/bereach-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Search LinkedIn Jobs
 *
 * @remarks
 * # Search LinkedIn Jobs
 *
 * Find job listings on LinkedIn by keywords, location, job type, experience level, and workplace type.
 *
 * ## Parameters
 * - **keywords** (optional): Search terms matched against job title, company name, and description
 *
 * ## Keyword syntax (Boolean operators)
 * Keywords support LinkedIn Boolean search syntax:
 * - **Exact phrase**: `"frontend engineer"` — matches only that exact title
 * - **AND**: `React AND TypeScript` — both terms required (spaces default to AND)
 * - **OR**: `"frontend engineer" OR "front-end developer"` — either term
 * - **NOT**: `engineer NOT intern` — exclude unwanted terms
 * - **Parentheses**: `(React OR Vue) AND "senior engineer"` — group logic
 *
 * Operators must be **UPPERCASE**. Precedence: Quotes > Parentheses > NOT > AND > OR.
 *
 * ## Available filters
 * | Filter | Type | Description | Resolve IDs via |
 * |--------|------|-------------|------------------|
 * | `location` | string[] | Geo IDs | `/search/linkedin/parameters` type=`GEO` |
 * | `datePosted` | string | `"past-24h"` \| `"past-week"` \| `"past-month"` | — |
 * | `sortBy` | string | `"relevance"` \| `"date"` | — |
 * | `jobType` | string[] | Employment type codes (see below) | — |
 * | `experienceLevel` | string[] | Seniority codes (see below) | — |
 * | `workplaceType` | string[] | Work location codes (see below) | — |
 *
 * ### Job type codes
 * | Code | Type |
 * |------|------|
 * | `F` | Full-time |
 * | `P` | Part-time |
 * | `C` | Contract |
 * | `T` | Temporary |
 * | `I` | Internship |
 * | `V` | Volunteer |
 * | `O` | Other |
 *
 * ### Experience level codes
 * | Code | Level |
 * |------|-------|
 * | `1` | Internship |
 * | `2` | Entry level |
 * | `3` | Associate |
 * | `4` | Mid-Senior level |
 * | `5` | Director |
 * | `6` | Executive |
 *
 * ### Workplace type codes
 * | Code | Type |
 * |------|------|
 * | `1` | On-site |
 * | `2` | Remote |
 * | `3` | Hybrid |
 *
 * ## Response fields (per item)
 * | Field | Type | Description |
 * |-------|------|-------------|
 * | `title` | string | Job title |
 * | `company` | string\|null | Hiring company name |
 * | `companyUrl` | string\|null | Company LinkedIn page URL |
 * | `companyLogo` | string\|null | Company logo URL |
 * | `location` | string\|null | Job location |
 * | `workplaceType` | string\|null | On-site / Remote / Hybrid |
 * | `postedAt` | string\|null | Human-readable posting time (e.g. `"2 days ago"`) |
 * | `jobUrl` | string | Direct URL to the job listing |
 * | `listingId` | string | LinkedIn job listing ID |
 *
 * ## Pagination
 * - Default page size: 10, max: 50
 * - Use `start` + `count` to paginate. Check `hasMore` for more pages.
 *
 * ## Example workflows
 * 1. **Job monitoring**: Search by title + location → track new openings in your area
 * 2. **Competitive hiring analysis**: Search by company keywords → see what roles competitors are hiring for
 * 3. **Market demand research**: Search by skills → gauge demand for specific expertise
 *
 * ## Credits
 * 1 credit per 20 items returned (minimum 1 credit if any results, 0 if empty).
 */
export function searchJobs(
  client: BereachCore,
  request: operations.SearchJobsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.SearchJobsResponse,
    | errors.BadRequestError
    | errors.UnauthorizedError
    | errors.ForbiddenError
    | errors.NotFoundError
    | errors.ConflictError
    | errors.GoneError
    | errors.UnprocessableEntityError
    | errors.TooManyRequestsError
    | errors.InternalServerError
    | errors.BadGatewayError
    | errors.ServiceUnavailableError
    | BereachError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: BereachCore,
  request: operations.SearchJobsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.SearchJobsResponse,
      | errors.BadRequestError
      | errors.UnauthorizedError
      | errors.ForbiddenError
      | errors.NotFoundError
      | errors.ConflictError
      | errors.GoneError
      | errors.UnprocessableEntityError
      | errors.TooManyRequestsError
      | errors.InternalServerError
      | errors.BadGatewayError
      | errors.ServiceUnavailableError
      | BereachError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(operations.SearchJobsRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/search/linkedin/jobs")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.token);
  const securityInput = secConfig == null ? {} : { token: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "searchJobs",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.token,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: [
      "400",
      "401",
      "403",
      "404",
      "409",
      "410",
      "422",
      "429",
      "4XX",
      "500",
      "502",
      "503",
      "5XX",
    ],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.SearchJobsResponse,
    | errors.BadRequestError
    | errors.UnauthorizedError
    | errors.ForbiddenError
    | errors.NotFoundError
    | errors.ConflictError
    | errors.GoneError
    | errors.UnprocessableEntityError
    | errors.TooManyRequestsError
    | errors.InternalServerError
    | errors.BadGatewayError
    | errors.ServiceUnavailableError
    | BereachError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.SearchJobsResponse$inboundSchema),
    M.jsonErr(400, errors.BadRequestError$inboundSchema),
    M.jsonErr(401, errors.UnauthorizedError$inboundSchema),
    M.jsonErr(403, errors.ForbiddenError$inboundSchema),
    M.jsonErr(404, errors.NotFoundError$inboundSchema),
    M.jsonErr(409, errors.ConflictError$inboundSchema),
    M.jsonErr(410, errors.GoneError$inboundSchema),
    M.jsonErr(422, errors.UnprocessableEntityError$inboundSchema),
    M.jsonErr(429, errors.TooManyRequestsError$inboundSchema),
    M.jsonErr(500, errors.InternalServerError$inboundSchema),
    M.jsonErr(502, errors.BadGatewayError$inboundSchema),
    M.jsonErr(503, errors.ServiceUnavailableError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
