/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { BereachSDKCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  SearchLinkedInByUrlRequest,
  SearchLinkedInByUrlRequest$zodSchema,
} from "../models/searchlinkedinbyurlop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Search LinkedIn by URL
 *
 * @remarks
 * # Search LinkedIn by URL
 *
 * Paste any LinkedIn search URL and the endpoint will automatically extract the category, keywords, and all filters from it, then execute the search and return structured results.
 *
 * ## When to use this endpoint
 * - A user gives you a LinkedIn search URL and you want to get the results programmatically
 * - You want to replicate a search the user performed in their browser
 * - You want to automate searches based on bookmarked LinkedIn search URLs
 *
 * ## Supported URL formats
 * The endpoint supports all standard LinkedIn search URLs:
 * - `https://www.linkedin.com/search/results/people/?keywords=engineer`
 * - `https://www.linkedin.com/search/results/content/?keywords=AI&sortBy=%22date_posted%22`
 * - `https://www.linkedin.com/search/results/companies/?keywords=startup&companyHqGeo=%5B%22103644278%22%5D`
 * - `https://www.linkedin.com/jobs/search/?keywords=frontend&location=Paris`
 * - `https://www.linkedin.com/search/results/all/?keywords=test` (treated as people search)
 *
 * ## URL path → Category mapping
 * | URL path segment | Category |
 * |------------------|----------|
 * | `/results/content/` | posts |
 * | `/results/people/` | people |
 * | `/results/companies/` | companies |
 * | `/results/all/` | people |
 * | `/jobs/search/` | jobs |
 *
 * ## Extracted parameters
 * The following URL query parameters are parsed and mapped to search filters:
 * - `keywords` → keywords
 * - `network` → connectionDegree (people)
 * - `geoUrn` / `companyHqGeo` → location
 * - `industry` → industry
 * - `company` / `currentCompany` → currentCompany
 * - `pastCompany` → pastCompany
 * - `school` → school
 * - `profileLanguage` → profileLanguage
 * - `connectionOf` → connectionOf
 * - `firstName` / `lastName` → firstName / lastName
 * - `title` → title
 * - `companySize` → companySize (companies)
 * - `sortBy` → sortBy
 * - `datePosted` → datePosted
 * - `f_TPR` → datePosted (jobs)
 * - `f_JT` → jobType (jobs)
 * - `f_E` → experienceLevel (jobs)
 * - `f_WT` → workplaceType (jobs)
 *
 * ## Pagination override
 * You can optionally pass `start` and `count` to override the pagination embedded in the URL.
 *
 * ## Credits
 * 1 credit per 20 items returned (minimum 1 credit if any results, 0 if empty).
 */
export function linkedinSearchSearchByUrl(
  client$: BereachSDKCore,
  request: SearchLinkedInByUrlRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: BereachSDKCore,
  request: SearchLinkedInByUrlRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => SearchLinkedInByUrlRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = encodeJSON("body", payload$, { explode: true });
  const path$ = pathToFunc("/search/linkedin/url")();

  const headers$ = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "searchLinkedInByUrl",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
