/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { BereachSDKCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  ResolveLinkedInSearchParametersRequest,
  ResolveLinkedInSearchParametersRequest$zodSchema,
} from "../models/resolvelinkedinsearchparametersop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Resolve text to LinkedIn search parameter IDs (typeahead)
 *
 * @remarks
 * # Resolve Search Parameters
 *
 * Converts human-readable text into LinkedIn numeric IDs required by search filters. This is a **prerequisite step** before using location, industry, company, or school filters in any search endpoint.
 *
 * ## Supported types
 * | Type | Description | Use with filter |
 * |------|-------------|------------------|
 * | `GEO` | Geographic locations (cities, regions, countries) | `location` filter in people, companies, jobs |
 * | `COMPANY` | Companies and organizations | `currentCompany`, `pastCompany`, `authorCompany` |
 * | `INDUSTRY` | Industries and sectors | `industry`, `authorIndustry` |
 * | `SCHOOL` | Schools and universities | `school` filter in people search |
 * | `CONNECTIONS` | Your LinkedIn connections by name | Identify connection URNs |
 * | `PEOPLE` | Any LinkedIn user by name | Identify profile URNs for `connectionOf` |
 *
 * ## How to use
 * ```
 * Step 1: POST /search/linkedin/parameters { type: 'GEO', keywords: 'Paris' }
 *         → [{ id: '105015875', title: 'Paris, Île-de-France, France', type: 'GEO' }]
 * Step 2: POST /search/linkedin/people { location: ['105015875'], keywords: 'engineer' }
 *         → returns engineers in Paris
 * ```
 *
 * ## Response format
 * Each item contains `id` (the LinkedIn numeric ID to use in filters), `title` (human-readable label), and `type` (the parameter type).
 *
 * ## Tips
 * - Use short, specific keywords for best results (e.g. `"Paris"` not `"Paris, France"`)
 * - The API returns up to `limit` results (default 10, max 50)
 * - Results are ranked by relevance
 * - IDs are stable — you can cache them for repeated searches
 */
export function linkedinSearchResolveParameters(
  client$: BereachSDKCore,
  request: ResolveLinkedInSearchParametersRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: BereachSDKCore,
  request: ResolveLinkedInSearchParametersRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => ResolveLinkedInSearchParametersRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = encodeJSON("body", payload$, { explode: true });
  const path$ = pathToFunc("/search/linkedin/parameters")();

  const headers$ = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "resolveLinkedInSearchParameters",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
