/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { BereachSDKCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  SearchLinkedInPeopleRequest,
  SearchLinkedInPeopleRequest$zodSchema,
} from "../models/searchlinkedinpeopleop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Search LinkedIn People
 *
 * @remarks
 * # Search LinkedIn People
 *
 * Find professionals on LinkedIn by name, title, company, location, industry, and more. Returns structured profile data including name, headline, current positions, and connection degree.
 *
 * ## Parameters
 * - **keywords** (optional): Search terms matched against name, headline, company, skills, and bio
 * - You can search by filters alone (no keywords) — e.g. find all 2nd-degree connections in Paris
 *
 * ## Keyword syntax (Boolean operators)
 * Keywords support LinkedIn Boolean search syntax:
 * - **Exact phrase**: `"product manager"` — matches only that exact title
 * - **AND**: `engineer AND startup` — both terms required (spaces default to AND)
 * - **OR**: `CEO OR founder OR CTO` — any of the terms
 * - **NOT**: `manager NOT assistant` — exclude unwanted terms
 * - **Parentheses**: `(CEO OR CTO) AND SaaS` — group logic
 *
 * Operators must be **UPPERCASE**. Precedence: Quotes > Parentheses > NOT > AND > OR.
 *
 * ## Available filters
 * | Filter | Type | Description | Resolve IDs via |
 * |--------|------|-------------|------------------|
 * | `connectionDegree` | `["F"\|"S"\|"O"]` | Connection level: F=1st, S=2nd, O=3rd+ | — |
 * | `firstName` | string | Exact first name match | — |
 * | `lastName` | string | Exact last name match | — |
 * | `title` | string | Current job title (supports `\|` OR syntax: `"CEO\|CTO"`) | — |
 * | `connectionOf` | string | Profile URN — find their connections | — |
 * | `profileLanguage` | string[] | ISO 639-1 codes: `["en","fr"]` | — |
 * | `location` | string[] | Geo IDs | `/search/linkedin/parameters` type=`GEO` |
 * | `industry` | string[] | Industry IDs | `/search/linkedin/parameters` type=`INDUSTRY` |
 * | `currentCompany` | string[] | Company IDs (current employer) | `/search/linkedin/parameters` type=`COMPANY` |
 * | `pastCompany` | string[] | Company IDs (past employer) | `/search/linkedin/parameters` type=`COMPANY` |
 * | `school` | string[] | School/university IDs | `/search/linkedin/parameters` type=`SCHOOL` |
 *
 * ## Response fields (per item)
 * | Field | Type | Description |
 * |-------|------|-------------|
 * | `name` | string | Full display name |
 * | `profileUrl` | string | LinkedIn profile URL |
 * | `headline` | string\|null | Professional headline |
 * | `location` | string\|null | Geographic location |
 * | `profilePicture` | string\|null | Profile photo URL |
 * | `networkDistance` | string\|null | `DISTANCE_1`, `DISTANCE_2`, `DISTANCE_3`, or `OUT_OF_NETWORK` |
 * | `currentPositions` | array | Current job positions with `company` and `role` |
 *
 * ## Pagination
 * - Default page size: 10, max: 50
 * - Use `start` + `count` to paginate. Check `hasMore` for more pages.
 * - LinkedIn caps total visible results at ~1,000 for most searches.
 *
 * ## Example workflows
 * 1. **Prospect list building**: Search by title + location + industry → build a targeted outreach list
 * 2. **Recruiting**: Search by title + company + school → find qualified candidates
 * 3. **Network mapping**: Search `connectionOf` + filters → explore someone's network
 *
 * ## Multi-step workflow with filter ID resolution
 * ```
 * Step 1: POST /search/linkedin/parameters { type: 'GEO', keywords: 'San Francisco' }
 *         → returns [{ id: '102277331', title: 'San Francisco, CA' }]
 * Step 2: POST /search/linkedin/parameters { type: 'COMPANY', keywords: 'Google' }
 *         → returns [{ id: '1441', title: 'Google' }]
 * Step 3: POST /search/linkedin/people { keywords: 'product manager', location: ['102277331'], currentCompany: ['1441'] }
 *         → returns matching people
 * ```
 *
 * ## Credits
 * 1 credit per 20 items returned (minimum 1 credit if any results, 0 if empty).
 */
export function linkedinSearchSearchPeople(
  client$: BereachSDKCore,
  request: SearchLinkedInPeopleRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: BereachSDKCore,
  request: SearchLinkedInPeopleRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => SearchLinkedInPeopleRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = encodeJSON("body", payload$, { explode: true });
  const path$ = pathToFunc("/search/linkedin/people")();

  const headers$ = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "searchLinkedInPeople",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
