/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { BereachSDKCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  SearchLinkedInCompaniesRequest,
  SearchLinkedInCompaniesRequest$zodSchema,
} from "../models/searchlinkedincompaniesop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Search LinkedIn Companies
 *
 * @remarks
 * # Search LinkedIn Companies
 *
 * Find companies on LinkedIn by name, industry, location, and employee count. Returns structured company data including name, industry, location, and follower count.
 *
 * ## Parameters
 * - **keywords** (optional): Search terms matched against company name, description, and specialties
 *
 * ## Keyword syntax (Boolean operators)
 * Keywords support LinkedIn Boolean search syntax:
 * - **Exact phrase**: `"artificial intelligence"` — matches only that exact phrase
 * - **AND**: `fintech AND payments` — both terms required (spaces default to AND)
 * - **OR**: `SaaS OR "cloud computing"` — either term
 * - **NOT**: `consulting NOT staffing` — exclude unwanted terms
 * - **Parentheses**: `(AI OR ML) AND healthcare` — group logic
 *
 * Operators must be **UPPERCASE**. Precedence: Quotes > Parentheses > NOT > AND > OR.
 *
 * ## Available filters
 * | Filter | Type | Description | Resolve IDs via |
 * |--------|------|-------------|------------------|
 * | `location` | string[] | HQ geo IDs | `/search/linkedin/parameters` type=`GEO` |
 * | `industry` | string[] | Industry IDs | `/search/linkedin/parameters` type=`INDUSTRY` |
 * | `companySize` | string[] | Employee count codes (see below) | — |
 *
 * ### Company size codes
 * | Code | Employees |
 * |------|-----------|
 * | `A` | 1–10 |
 * | `B` | 11–50 |
 * | `C` | 51–200 |
 * | `D` | 201–500 |
 * | `E` | 501–1,000 |
 * | `F` | 1,001–5,000 |
 * | `G` | 5,001–10,000 |
 * | `H` | 10,001+ |
 * | `I` | Self-employed |
 *
 * ## Response fields (per item)
 * | Field | Type | Description |
 * |-------|------|-------------|
 * | `name` | string | Company display name |
 * | `profileUrl` | string | LinkedIn company page URL |
 * | `summary` | string\|null | Company tagline/description |
 * | `industry` | string\|null | Primary industry |
 * | `location` | string\|null | HQ location |
 * | `followersCount` | number\|null | Number of LinkedIn followers |
 *
 * ## Pagination
 * - Default page size: 10, max: 50
 * - Use `start` + `count` to paginate. Check `hasMore` for more pages.
 *
 * ## Example workflows
 * 1. **Market research**: Search by industry + location → map the competitive landscape
 * 2. **Sales targeting**: Search by industry + size → build a list of target accounts
 * 3. **Partnership discovery**: Search by keywords + location → find potential partners
 *
 * ## Credits
 * 1 credit per 20 items returned (minimum 1 credit if any results, 0 if empty).
 */
export function linkedinSearchSearchCompanies(
  client$: BereachSDKCore,
  request: SearchLinkedInCompaniesRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: BereachSDKCore,
  request: SearchLinkedInCompaniesRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => SearchLinkedInCompaniesRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = encodeJSON("body", payload$, { explode: true });
  const path$ = pathToFunc("/search/linkedin/companies")();

  const headers$ = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "searchLinkedInCompanies",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
