openapi: "3.0.3"
info:
  title: "BeReach API"
  description: "BeReach | Unofficial Linkedin API"
  version: "0.0.4"
  contact:
    name: "BeReach Support"
    email: "alexandre@berea.ch"
    url: "https://berea.ch/api"
  license:
    name: "AGPL-3.0 license"
    url: "https://github.com/berea-ch/bereach/blob/main/LICENSE.md"
servers:
  - url: "https://api.berea.ch"
    description: "Production API"
tags:
  - name: "LinkedIn Search"
    description: "Search LinkedIn for posts, people, companies, and jobs. Includes parameter resolution (typeahead) for converting text to LinkedIn IDs."
  - name: "Profile"
    description: "Endpoints for the authenticated user's own LinkedIn profile"
  - name: "LinkedIn Scrapers"
    description: "Endpoints for scraping LinkedIn interactions (likes, comments, posts)"
  - name: "LinkedIn Actions"
    description: "Endpoints for performing LinkedIn actions (visit, connect, message, like, reply, publish)"
  - name: "Campaigns"
    description: "Endpoints for managing campaigns and workflow filtering"
paths:
  /collect/linkedin/likes:
    post:
      operationId: "collectLinkedInLikes"
      summary: "Scrape LinkedIn post likes"
      description: "Authenticates the requester, validates LinkedIn credentials, and returns up to 200 profiles per page that reacted to the specified post. Supports pagination."
      tags:
        - "LinkedIn Scrapers"
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            example:
              postUrl: "https://www.linkedin.com/feed/update/urn:li:activity:1234567890123456789/"
              start: 0
            schema:
              type: "object"
              properties:
                postUrl:
                  description: "LinkedIn post URL to inspect for reactions."
                  type: "string"
                start:
                  description: "Pagination offset (multiples of 200)."
                  type: "integer"
                  minimum: 0
                  maximum: 9007199254740991
              required:
                - "postUrl"
      responses:
        "200":
          description: "List of profiles who liked the post"
          content:
            application/json:
              example:
                success: true
                profiles:
                  - name: "Alex Doe"
                    headline: "Growth Lead @ Example"
                    profileUrl: "https://www.linkedin.com/in/alex-doe"
                    imageUrl: "https://media.licdn.com/dms/image/C4D03AQG1/profile-displayphoto-shrink_200_200/0/..."
                    type: "like"
                count: 1
                total: 250
                start: 0
                hasMore: true
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                    enum:
                      - true
                  profiles:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        name:
                          type: "string"
                        headline:
                          nullable: true
                          type: "string"
                        profileUrl:
                          nullable: true
                          type: "string"
                          format: "uri"
                        imageUrl:
                          nullable: true
                          type: "string"
                          format: "uri"
                        type:
                          type: "string"
                          enum:
                            - "like"
                      required:
                        - "name"
                        - "type"
                      additionalProperties: false
                  count:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  total:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  start:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  hasMore:
                    type: "boolean"
                required:
                  - "success"
                  - "profiles"
                  - "count"
                  - "total"
                  - "start"
                  - "hasMore"
                additionalProperties: false
        "400":
          description: "The server cannot or will not process the request due to something that is perceived to be a client error."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "bad_request"
                  message: "The server cannot or will not process the request due to something that is perceived to be a client error."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "401":
          description: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unauthorized"
                  message: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "403":
          description: "The client does not have access rights to the content."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "forbidden"
                  message: "The client does not have access rights to the content."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "404":
          description: "The server cannot find the requested resource."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "not_found"
                  message: "The server cannot find the requested resource."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "409":
          description: "The request conflicts with the current state of the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "conflict"
                  message: "The request conflicts with the current state of the server."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "410":
          description: "The requested content has been permanently deleted from the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "invite_expired"
                  message: "The requested content has been permanently deleted from the server."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "422":
          description: "The request was well-formed but was unable to be followed due to semantic errors."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unprocessable_entity"
                  message: "The request was well-formed but was unable to be followed due to semantic errors."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "429":
          description: "Too many requests have been sent in a given amount of time."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "rate_limit_exceeded"
                  message: "Too many requests have been sent in a given amount of time."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "500":
          description: "The server encountered a situation it does not know how to handle."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "internal_server_error"
                  message: "The server encountered a situation it does not know how to handle."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
      x-speakeasy-group: linkedInScrapers
      x-speakeasy-name-override: collectLikes
  /collect/linkedin/comments:
    post:
      operationId: "collectLinkedInComments"
      summary: "Scrape LinkedIn post comments"
      description: "Authenticates the requester, validates LinkedIn credentials, and returns paginated top-level comments for a LinkedIn post."
      tags:
        - "LinkedIn Scrapers"
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            example:
              postUrl: "https://www.linkedin.com/feed/update/urn:li:activity:1234567890123456789/"
              start: 0
            schema:
              type: "object"
              properties:
                postUrl:
                  description: "LinkedIn post URL to inspect for comments."
                  type: "string"
                start:
                  description: "Pagination offset (multiples of 200)."
                  type: "integer"
                  minimum: 0
                  maximum: 9007199254740991
              required:
                - "postUrl"
      responses:
        "200":
          description: "List of profiles who commented on the post"
          content:
            application/json:
              example:
                success: true
                profiles:
                  - name: "Sam Smith"
                    headline: "Founder @ Startup"
                    profileUrl: "https://www.linkedin.com/in/sam-smith"
                    imageUrl: "https://media.licdn.com/dms/image/C4D03AQG1/profile-displayphoto-shrink_200_200/0/..."
                    commentText: "Love this insight!"
                    timestamp: 1731547200000
                    isEdited: false
                    type: "comment"
                count: 1
                total: 12
                start: 0
                hasMore: true
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                    enum:
                      - true
                  profiles:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        name:
                          type: "string"
                        headline:
                          nullable: true
                          type: "string"
                        profileUrl:
                          nullable: true
                          type: "string"
                          format: "uri"
                        imageUrl:
                          nullable: true
                          type: "string"
                          format: "uri"
                        type:
                          type: "string"
                          enum:
                            - "comment"
                        commentText:
                          type: "string"
                        timestamp:
                          nullable: true
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        isEdited:
                          type: "boolean"
                        postUrn:
                          type: "string"
                        postHash:
                          type: "string"
                        commentHash:
                          type: "string"
                      required:
                        - "name"
                        - "type"
                      additionalProperties: false
                  count:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  total:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  start:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  hasMore:
                    type: "boolean"
                required:
                  - "success"
                  - "profiles"
                  - "count"
                  - "total"
                  - "start"
                  - "hasMore"
                additionalProperties: false
        "400":
          description: "The server cannot or will not process the request due to something that is perceived to be a client error."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "bad_request"
                  message: "The server cannot or will not process the request due to something that is perceived to be a client error."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "401":
          description: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unauthorized"
                  message: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "403":
          description: "The client does not have access rights to the content."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "forbidden"
                  message: "The client does not have access rights to the content."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "404":
          description: "The server cannot find the requested resource."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "not_found"
                  message: "The server cannot find the requested resource."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "409":
          description: "The request conflicts with the current state of the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "conflict"
                  message: "The request conflicts with the current state of the server."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "410":
          description: "The requested content has been permanently deleted from the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "invite_expired"
                  message: "The requested content has been permanently deleted from the server."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "422":
          description: "The request was well-formed but was unable to be followed due to semantic errors."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unprocessable_entity"
                  message: "The request was well-formed but was unable to be followed due to semantic errors."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "429":
          description: "Too many requests have been sent in a given amount of time."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "rate_limit_exceeded"
                  message: "Too many requests have been sent in a given amount of time."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "500":
          description: "The server encountered a situation it does not know how to handle."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "internal_server_error"
                  message: "The server encountered a situation it does not know how to handle."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
      x-speakeasy-group: linkedInScrapers
      x-speakeasy-name-override: collectComments
  /collect/linkedin/comments/replies:
    post:
      operationId: "collectLinkedInCommentReplies"
      summary: "Scrape replies to a LinkedIn comment"
      description: "Returns paginated replies for a specific LinkedIn comment. Use the commentUrn from the comments endpoint response."
      tags:
        - "LinkedIn Scrapers"
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            example:
              commentUrn: "urn:li:comment:(activity:7654321098765432100,1234567890)"
            schema:
              type: "object"
              properties:
                commentUrn:
                  description: "Comment URN returned by the comments endpoint (e.g., 'urn:li:comment:(activity:123456,789)')."
                  type: "string"
                start:
                  description: "Pagination offset (default 0)."
                  type: "integer"
                  minimum: 0
                  maximum: 9007199254740991
              required:
                - "commentUrn"
      responses:
        "200":
          description: "List of replies to the comment"
          content:
            application/json:
              example:
                success: true
                replies:
                  - name: "Jane Doe"
                    headline: "Product Manager at Acme"
                    profileUrl: "https://www.linkedin.com/in/janedoe"
                    imageUrl: "https://media.licdn.com/dms/image/example/photo.jpg"
                    type: "comment"
                    commentText: "Great point! I totally agree."
                    timestamp: 1700000000000
                    isEdited: false
                count: 1
                total: 3
                start: 0
                hasMore: true
                parentCommentUrn: "urn:li:comment:(activity:7654321098765432100,1234567890)"
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                    enum:
                      - true
                  replies:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        name:
                          type: "string"
                        headline:
                          nullable: true
                          type: "string"
                        profileUrl:
                          nullable: true
                          type: "string"
                          format: "uri"
                        imageUrl:
                          nullable: true
                          type: "string"
                          format: "uri"
                        type:
                          type: "string"
                          enum:
                            - "comment"
                        commentText:
                          type: "string"
                        timestamp:
                          nullable: true
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        isEdited:
                          type: "boolean"
                        postUrn:
                          type: "string"
                        postHash:
                          type: "string"
                        commentHash:
                          type: "string"
                      required:
                        - "name"
                        - "type"
                      additionalProperties: false
                  count:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  total:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  start:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  hasMore:
                    type: "boolean"
                  parentCommentUrn:
                    type: "string"
                required:
                  - "success"
                  - "replies"
                  - "count"
                  - "total"
                  - "start"
                  - "hasMore"
                  - "parentCommentUrn"
                additionalProperties: false
        "400":
          description: "The server cannot or will not process the request due to something that is perceived to be a client error."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "bad_request"
                  message: "The server cannot or will not process the request due to something that is perceived to be a client error."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "401":
          description: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unauthorized"
                  message: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "403":
          description: "The client does not have access rights to the content."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "forbidden"
                  message: "The client does not have access rights to the content."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "404":
          description: "The server cannot find the requested resource."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "not_found"
                  message: "The server cannot find the requested resource."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "409":
          description: "The request conflicts with the current state of the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "conflict"
                  message: "The request conflicts with the current state of the server."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "410":
          description: "The requested content has been permanently deleted from the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "invite_expired"
                  message: "The requested content has been permanently deleted from the server."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "422":
          description: "The request was well-formed but was unable to be followed due to semantic errors."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unprocessable_entity"
                  message: "The request was well-formed but was unable to be followed due to semantic errors."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "429":
          description: "Too many requests have been sent in a given amount of time."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "rate_limit_exceeded"
                  message: "Too many requests have been sent in a given amount of time."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "500":
          description: "The server encountered a situation it does not know how to handle."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "internal_server_error"
                  message: "The server encountered a situation it does not know how to handle."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
      x-speakeasy-group: linkedInScrapers
      x-speakeasy-name-override: collectCommentReplies
  /collect/linkedin/posts:
    post:
      operationId: "collectLinkedInPosts"
      summary: "Scrape LinkedIn profile posts"
      description: "Authenticates the requester, validates LinkedIn credentials, and returns paginated posts from a LinkedIn profile. Supports count, start, and paginationToken for pagination."
      tags:
        - "LinkedIn Scrapers"
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            example:
              profileUrl: "https://www.linkedin.com/in/username"
              count: 20
              start: 0
            schema:
              type: "object"
              properties:
                profileUrl:
                  description: "LinkedIn profile URL to fetch posts from."
                  type: "string"
                count:
                  description: "Number of posts to fetch (default 20, max 100)."
                  type: "integer"
                  minimum: 1
                  maximum: 100
                start:
                  description: "Pagination offset (default 0)."
                  type: "integer"
                  minimum: 0
                  maximum: 9007199254740991
                paginationToken:
                  description: "Pagination token from a previous response to fetch the next page."
                  type: "string"
              required:
                - "profileUrl"
      responses:
        "200":
          description: "Paginated list of posts from the profile"
          content:
            application/json:
              example:
                success: true
                posts:
                  - postUrl: "https://www.linkedin.com/posts/username_activity-1234567890"
                    text: "Post content here"
                    date: 1731547200000
                    likesCount: 50
                    commentsCount: 10
                    sharesCount: 5
                    postUrn: "urn:li:activity:1234567890"
                    postId: "1234567890"
                    type: "activity"
                count: 1
                total: 42
                start: 0
                hasMore: true
                paginationToken: "abc123-pagination-token"
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                    enum:
                      - true
                  posts:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        postUrl:
                          type: "string"
                          format: "uri"
                        text:
                          type: "string"
                        date:
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        likesCount:
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        commentsCount:
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        sharesCount:
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        postUrn:
                          type: "string"
                        postId:
                          type: "string"
                        type:
                          type: "string"
                          enum:
                            - "activity"
                            - "ugcPost"
                            - "share"
                      required:
                        - "postUrl"
                        - "text"
                        - "date"
                        - "likesCount"
                        - "commentsCount"
                        - "sharesCount"
                        - "postUrn"
                        - "postId"
                        - "type"
                      additionalProperties: false
                  count:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  total:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  start:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  hasMore:
                    type: "boolean"
                  paginationToken:
                    nullable: true
                    type: "string"
                required:
                  - "success"
                  - "posts"
                  - "count"
                  - "total"
                  - "start"
                  - "hasMore"
                  - "paginationToken"
                additionalProperties: false
        "400":
          description: "The server cannot or will not process the request due to something that is perceived to be a client error."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "bad_request"
                  message: "The server cannot or will not process the request due to something that is perceived to be a client error."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "401":
          description: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unauthorized"
                  message: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "403":
          description: "The client does not have access rights to the content."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "forbidden"
                  message: "The client does not have access rights to the content."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "404":
          description: "The server cannot find the requested resource."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "not_found"
                  message: "The server cannot find the requested resource."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "409":
          description: "The request conflicts with the current state of the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "conflict"
                  message: "The request conflicts with the current state of the server."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "410":
          description: "The requested content has been permanently deleted from the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "invite_expired"
                  message: "The requested content has been permanently deleted from the server."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "422":
          description: "The request was well-formed but was unable to be followed due to semantic errors."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unprocessable_entity"
                  message: "The request was well-formed but was unable to be followed due to semantic errors."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "429":
          description: "Too many requests have been sent in a given amount of time."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "rate_limit_exceeded"
                  message: "Too many requests have been sent in a given amount of time."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "500":
          description: "The server encountered a situation it does not know how to handle."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "internal_server_error"
                  message: "The server encountered a situation it does not know how to handle."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
      x-speakeasy-group: linkedInScrapers
      x-speakeasy-name-override: collectPosts
  /search/linkedin:
    post:
      operationId: "searchLinkedIn"
      summary: "Unified LinkedIn Search — posts, people, companies, jobs"
      description: "# Unified LinkedIn Search\n\nThis is the **all-in-one** search endpoint. It accepts any of the 4 categories (posts, people, companies, jobs) and returns structured results.\n\n## When to use this endpoint\nUse this endpoint when you need to search across categories dynamically (e.g. the user chooses the category at runtime). For a simpler interface with category-specific documentation, use the dedicated endpoints:\n- `POST /search/linkedin/posts` — search posts\n- `POST /search/linkedin/people` — search people\n- `POST /search/linkedin/companies` — search companies\n- `POST /search/linkedin/jobs` — search jobs\n- `POST /search/linkedin/url` — search by pasting a LinkedIn search URL\n\n## Two ways to search\n1. **Structured**: pass `category` + `keywords` + optional filters\n2. **URL-based**: pass a LinkedIn search `url` — the endpoint parses it automatically\n\nExplicit parameters always override URL-derived values.\n\n## Keyword syntax (Boolean operators)\nKeywords support LinkedIn Boolean search syntax for precise matching:\n- **Exact phrase**: wrap in double quotes — `\"outreach automation\"` matches only that exact phrase\n- **AND**: both terms required — `outreach AND linkedin` (default when terms are space-separated)\n- **OR**: either term — `CEO OR founder OR owner`\n- **NOT**: exclude — `manager NOT assistant`\n- **Parentheses**: group — `(CEO OR CTO) AND SaaS`\n\nOperators must be **UPPERCASE** (`AND`, `OR`, `NOT`). Lowercase is treated as plain text. Wildcards (`*`) and `+`/`-` are not supported. Precedence: Quotes → Parentheses → NOT → AND → OR.\n\nWithout quotes, a multi-word query like `outreach automation` is treated as `outreach AND automation`, which may return broad results. Use `\"outreach automation\"` for exact matching.\n\n## Resolving filter IDs\nMany filters (location, industry, company, school) require LinkedIn numeric IDs. Use `POST /search/linkedin/parameters` to convert text (e.g. \"San Francisco\") into IDs (e.g. \"103644278\").\n\n## Pagination\nUse `start` (offset, default 0) and `count` (page size, default 10, max 50). The response includes `paging.total` and `hasMore` to control iteration.\n\n## Credits\n1 credit per 20 items returned (minimum 1 credit if any results, 0 if empty)."
      tags:
        - "LinkedIn Search"
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            example:
              category: "people"
              keywords: "software engineer"
              connectionDegree:
                - "F"
                - "S"
              location:
                - "103644278"
              industry:
                - "4"
                - "6"
              count: 10
              start: 0
            schema:
              type: "object"
              properties:
                category:
                  description: "Type of search to perform (required unless url is provided)"
                  type: "string"
                  enum:
                    - "posts"
                    - "people"
                    - "companies"
                    - "jobs"
                url:
                  description: "LinkedIn search URL — category and filters are extracted automatically. Explicit params override URL-derived ones."
                  type: "string"
                keywords:
                  description: "Search keywords. Supports LinkedIn Boolean syntax: use double quotes for exact phrases (e.g. \"outreach automation\"), AND to require both terms, OR for alternatives (e.g. CEO OR founder), NOT to exclude (e.g. manager NOT assistant), and parentheses to group (e.g. (CEO OR CTO) AND SaaS). Operators must be UPPERCASE. Without quotes, multi-word queries are treated as AND by default which may return overly broad results — use exact phrases with quotes for precise matching."
                  type: "string"
                sortBy:
                  description: "Sort order (posts & jobs)"
                  type: "string"
                  enum:
                    - "relevance"
                    - "date"
                datePosted:
                  description: "Time filter (posts & jobs)"
                  type: "string"
                  enum:
                    - "past-24h"
                    - "past-week"
                    - "past-month"
                contentType:
                  description: "Media type filter (posts only)"
                  type: "string"
                  enum:
                    - "images"
                    - "videos"
                    - "documents"
                authorIndustry:
                  description: "Author industry IDs (posts only, resolve via /search/parameters)"
                  type: "array"
                  items:
                    type: "string"
                authorCompany:
                  description: "Author company IDs (posts only, resolve via /search/parameters)"
                  type: "array"
                  items:
                    type: "string"
                connectionDegree:
                  description: "Connection degree: F=1st, S=2nd, O=3rd+ (people only)"
                  type: "array"
                  items:
                    type: "string"
                    enum:
                      - "F"
                      - "S"
                      - "O"
                firstName:
                  description: "First name filter (people only)"
                  type: "string"
                lastName:
                  description: "Last name filter (people only)"
                  type: "string"
                title:
                  description: "Job title filter, supports OR syntax (people only)"
                  type: "string"
                connectionOf:
                  description: "Profile URN to find connections of (people only)"
                  type: "string"
                profileLanguage:
                  description: "Profile language codes e.g. ['en','fr'] (people only)"
                  type: "array"
                  items:
                    type: "string"
                school:
                  description: "School IDs (people only, resolve via /search/parameters)"
                  type: "array"
                  items:
                    type: "string"
                location:
                  description: "Geo IDs (people, companies, jobs -- resolve via /search/parameters)"
                  type: "array"
                  items:
                    type: "string"
                industry:
                  description: "Industry IDs (people, companies -- resolve via /search/parameters)"
                  type: "array"
                  items:
                    type: "string"
                currentCompany:
                  description: "Current company IDs (people only, resolve via /search/parameters)"
                  type: "array"
                  items:
                    type: "string"
                pastCompany:
                  description: "Past company IDs (people only, resolve via /search/parameters)"
                  type: "array"
                  items:
                    type: "string"
                companySize:
                  description: "Company size: A=1-10, B=11-50, C=51-200, D=201-500, E=501-1K, F=1K-5K, G=5K-10K, H=10K+, I=self (companies only)"
                  type: "array"
                  items:
                    type: "string"
                    enum:
                      - "A"
                      - "B"
                      - "C"
                      - "D"
                      - "E"
                      - "F"
                      - "G"
                      - "H"
                      - "I"
                jobType:
                  description: "Job type: F=Full-time, P=Part-time, C=Contract, T=Temporary, I=Internship, V=Volunteer, O=Other (jobs only)"
                  type: "array"
                  items:
                    type: "string"
                    enum:
                      - "F"
                      - "P"
                      - "C"
                      - "T"
                      - "I"
                      - "V"
                      - "O"
                experienceLevel:
                  description: "Experience level: 1=Internship, 2=Entry, 3=Associate, 4=Mid-Senior, 5=Director, 6=Executive (jobs only)"
                  type: "array"
                  items:
                    type: "string"
                    enum:
                      - "1"
                      - "2"
                      - "3"
                      - "4"
                      - "5"
                      - "6"
                workplaceType:
                  description: "Workplace type: 1=On-site, 2=Remote, 3=Hybrid (jobs only)"
                  type: "array"
                  items:
                    type: "string"
                    enum:
                      - "1"
                      - "2"
                      - "3"
                start:
                  description: "Pagination offset (default 0)"
                  type: "integer"
                  minimum: 0
                  maximum: 9007199254740991
                count:
                  description: "Results per page (default 10, max 50)"
                  type: "integer"
                  minimum: 1
                  maximum: 50
      responses:
        "200":
          description: "Search results for the specified category"
          content:
            application/json:
              example:
                success: true
                category: "people"
                items:
                  - type: "PEOPLE"
                    name: "Jane Smith"
                    profileUrl: "https://www.linkedin.com/in/janesmith"
                    headline: "Senior Software Engineer at Google"
                    location: "San Francisco Bay Area"
                    profilePicture: null
                    networkDistance: "DISTANCE_2"
                    currentPositions:
                      - company: "Google"
                        role: "Senior Software Engineer"
                paging:
                  start: 0
                  count: 10
                  total: 1000
                hasMore: true
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                    enum:
                      - true
                  category:
                    type: "string"
                    enum:
                      - "posts"
                      - "people"
                      - "companies"
                      - "jobs"
                  items:
                    anyOf:
                      - type: "array"
                        items:
                          type: "object"
                          properties:
                            type:
                              type: "string"
                              enum:
                                - "POST"
                            postUrl:
                              type: "string"
                            text:
                              type: "string"
                            date:
                              type: "integer"
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            likesCount:
                              type: "integer"
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            commentsCount:
                              type: "integer"
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            sharesCount:
                              type: "integer"
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            postUrn:
                              type: "string"
                            postId:
                              type: "string"
                            author:
                              type: "object"
                              properties:
                                name:
                                  type: "string"
                                profileUrl:
                                  nullable: true
                                  type: "string"
                                headline:
                                  nullable: true
                                  type: "string"
                                profilePicture:
                                  nullable: true
                                  type: "string"
                                isCompany:
                                  type: "boolean"
                              required:
                                - "name"
                                - "profileUrl"
                                - "headline"
                                - "profilePicture"
                                - "isCompany"
                              additionalProperties: false
                            isRepost:
                              type: "boolean"
                          required:
                            - "type"
                            - "postUrl"
                            - "text"
                            - "date"
                            - "likesCount"
                            - "commentsCount"
                            - "sharesCount"
                            - "postUrn"
                            - "postId"
                            - "author"
                            - "isRepost"
                          additionalProperties: false
                      - type: "array"
                        items:
                          type: "object"
                          properties:
                            type:
                              type: "string"
                              enum:
                                - "PEOPLE"
                            name:
                              type: "string"
                            profileUrl:
                              type: "string"
                            headline:
                              nullable: true
                              type: "string"
                            location:
                              nullable: true
                              type: "string"
                            profilePicture:
                              nullable: true
                              type: "string"
                            networkDistance:
                              nullable: true
                              type: "string"
                              enum:
                                - "DISTANCE_1"
                                - "DISTANCE_2"
                                - "DISTANCE_3"
                                - "OUT_OF_NETWORK"
                            currentPositions:
                              type: "array"
                              items:
                                type: "object"
                                properties:
                                  company:
                                    nullable: true
                                    type: "string"
                                  role:
                                    nullable: true
                                    type: "string"
                                required:
                                  - "company"
                                  - "role"
                                additionalProperties: false
                          required:
                            - "type"
                            - "name"
                            - "profileUrl"
                            - "headline"
                            - "location"
                            - "profilePicture"
                            - "networkDistance"
                            - "currentPositions"
                          additionalProperties: false
                      - type: "array"
                        items:
                          type: "object"
                          properties:
                            type:
                              type: "string"
                              enum:
                                - "COMPANY"
                            name:
                              type: "string"
                            profileUrl:
                              type: "string"
                            summary:
                              nullable: true
                              type: "string"
                            industry:
                              nullable: true
                              type: "string"
                            location:
                              nullable: true
                              type: "string"
                            followersCount:
                              nullable: true
                              type: "integer"
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                            - "type"
                            - "name"
                            - "profileUrl"
                            - "summary"
                            - "industry"
                            - "location"
                            - "followersCount"
                          additionalProperties: false
                      - type: "array"
                        items:
                          type: "object"
                          properties:
                            type:
                              type: "string"
                              enum:
                                - "JOB"
                            title:
                              type: "string"
                            company:
                              nullable: true
                              type: "string"
                            companyUrl:
                              nullable: true
                              type: "string"
                            companyLogo:
                              nullable: true
                              type: "string"
                            location:
                              nullable: true
                              type: "string"
                            workplaceType:
                              nullable: true
                              type: "string"
                            postedAt:
                              nullable: true
                              type: "string"
                            jobUrl:
                              type: "string"
                            listingId:
                              type: "string"
                          required:
                            - "type"
                            - "title"
                            - "company"
                            - "companyUrl"
                            - "companyLogo"
                            - "location"
                            - "workplaceType"
                            - "postedAt"
                            - "jobUrl"
                            - "listingId"
                          additionalProperties: false
                  paging:
                    type: "object"
                    properties:
                      start:
                        type: "integer"
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      count:
                        type: "integer"
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      total:
                        type: "integer"
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    required:
                      - "start"
                      - "count"
                      - "total"
                    additionalProperties: false
                  hasMore:
                    type: "boolean"
                required:
                  - "success"
                  - "category"
                  - "items"
                  - "paging"
                  - "hasMore"
                additionalProperties: false
        "400":
          description: "The server cannot or will not process the request due to something that is perceived to be a client error."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "bad_request"
                  message: "The server cannot or will not process the request due to something that is perceived to be a client error."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "401":
          description: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unauthorized"
                  message: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "403":
          description: "The client does not have access rights to the content."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "forbidden"
                  message: "The client does not have access rights to the content."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "404":
          description: "The server cannot find the requested resource."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "not_found"
                  message: "The server cannot find the requested resource."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "409":
          description: "The request conflicts with the current state of the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "conflict"
                  message: "The request conflicts with the current state of the server."
                  docs: "berea.ch/api"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
[...]
