{"openapi":"3.0.3","info":{"title":"BeReach API","description":"BeReach | Agentic lead generation and outreach API","version":"2.4.0","contact":{"name":"BeReach Support","email":"alexandre@berea.ch","url":"https://berea.ch/api"},"license":{"name":"AGPL-3.0 license","url":"https://github.com/berea-ch/bereach/blob/main/LICENSE.md"}},"servers":[{"url":"https://api.bereach.ai","description":"Production API"},{"url":"https://api-staging.bereach.ai","description":"Staging API"}],"tags":[{"name":"public","description":"Cookieless public data: read public profiles, posts, companies, and jobs anonymously through the proxy, with no connected account and no session rate budget spent"},{"name":"search","description":"Search LinkedIn for posts, people, companies, and jobs. Includes parameter resolution (typeahead) for converting text to LinkedIn IDs."},{"name":"salesNav","description":"Search LinkedIn Sales Navigator for leads (people) and accounts (companies). Requires an active Sales Navigator subscription."},{"name":"profile","description":"Endpoints for the authenticated user's own LinkedIn profile"},{"name":"scrapers","description":"Endpoints for scraping LinkedIn interactions (likes, comments, posts)"},{"name":"actions","description":"Endpoints for performing LinkedIn actions (visit, connect, message, like, reply, publish)"},{"name":"chat","description":"Endpoints for LinkedIn inbox: list conversations, search, read messages"},{"name":"companyPages","description":"Endpoints for managing LinkedIn company pages: list, permissions, posts, and actions"},{"name":"contacts","description":"Endpoints for managing contacts and lifecycle stages without requiring a campaign"},{"name":"scheduledMessages","description":"Endpoints for creating, scheduling, and managing draft DMs"},{"name":"context","description":"Endpoints for managing user-defined context entries (who you are, what you sell, ICP, Messaging Playbook). The type is a closed set and each type takes one scope shape."},{"name":"tasks","description":"Endpoints for reading the agent session snapshot"},{"name":"settings","description":"Endpoints for DM polling and connection polling configuration"},{"name":"workspace","description":"Endpoints for managing workspace accounts, invitations, and plan upgrades"}],"paths":{"/collect/linkedin/engagers":{"post":{"x-bereach":{"cost":"read","agents":["lead_gen"],"resultShape":"list"},"operationId":"collectEngagers","x-speakeasy-name-override":"collectEngagers","summary":"Collect people on a post","description":"One verb for the people on a post: one page per call, likes then comments, saved into the user's list, and more true only when the user asked for another page. Without a connected account it returns an unsaved public preview of top commenters.","tags":["scrapers"],"security":[{"token":[]}],"requestBody":{"required":true,"content":{"application/json":{"example":{"postUrls":["https://www.linkedin.com/feed/update/urn:li:activity:1234567890123456789/"]},"schema":{"type":"object","properties":{"postUrls":{"minItems":1,"maxItems":10,"type":"array","items":{"type":"string"},"description":"LinkedIn feed/update or /posts/ URLs only. Not Pulse, Sales Navigator, company pages, or lnkd.in short links."},"more":{"description":"Next page of the same posts, set only when they asked for more people. Each page spends the connected account's action budget, so on a post with 500 reactions and comments or more, wait to be asked again.","type":"boolean"},"untilCount":{"description":"Target size they named, at most 500, and 100 or more means 100. Only when a size was named; one call, since the run pages itself.","type":"integer","minimum":1,"maximum":500},"surface":{"description":"Reactions, comments, or both (the default); pick the one the request names.","type":"string","enum":["likes","comments","both"]},"campaignSlug":{"description":"Optional list to pin saved contacts onto. Ignored on the public preview path.","type":"string"}},"required":["postUrls"]}}}},"responses":{"200":{"description":"Collect-run id, or a public commenter preview when no account is connected","content":{"application/json":{"example":{"success":true,"coverage":"preview","needs_linkedin":true,"people":[{"name":"A commenter","profileUrl":"https://www.linkedin.com/in/example","publicIdentifier":"example","commentText":"Useful thread.","type":"comment"}],"count":1,"hiddenSkipped":0,"creditsUsed":0,"retryAfter":0},"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"runId":{"description":"Present when a connected account started a collect run. People are saved as contacts as the run proceeds, and they appear in the list rather than in the reply. A run id means the connected account was used: never explain this result as needing a connection.","type":"string"},"status":{"description":"Where the run is. While it is running the list is the count, so do not state one. Once it is completed the saved number is final.","type":"string"},"coverage":{"description":"Present when no account is connected. Top visible commenters only; reactor identities are not public.","type":"string","enum":["preview"]},"needs_linkedin":{"type":"boolean"},"people":{"type":"array","items":{"type":"object","properties":{"name":{"nullable":true,"type":"string"},"headline":{"nullable":true,"type":"string"},"profileUrl":{"nullable":true,"type":"string"},"publicIdentifier":{"nullable":true,"type":"string"},"profileUrn":{"nullable":true,"type":"string"},"imageUrl":{"nullable":true,"type":"string"},"commentText":{"nullable":true,"type":"string"},"type":{"type":"string","enum":["like","comment"]}},"required":["name","profileUrl"],"additionalProperties":false}},"postText":{"nullable":true,"type":"string"},"totals":{"description":"The post's own engagement badges, summed across the posts read. A sum, so it can never answer how many came from one post: `perPost` answers that. Absent while `count` is above 0 means the badge could not be read, never that nobody engaged. Both zero or absent WITH count 0 is the only shape that means no visible engagement on this page.","type":"object","properties":{"likes":{"nullable":true,"type":"number"},"comments":{"nullable":true,"type":"number"}},"additionalProperties":false},"count":{"description":"People saved by this call. The number to narrate. Zero is only an empty post when `unreadable` is 0; above 0 those people were not shown rather than absent.","type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"hiddenSkipped":{"description":"People skipped because they need extra lookup we don't do yet. Not saved. Omit or 0 when none.","type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"unreadable":{"description":"Posts whose asked-for engagement could not be read. DISTINCT posts, not a sum of the two counters below: a post that lost both its lists is one post. Above 0 means the answer is incomplete, and those posts must never be reported as having no engagement.","type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"likesUnavailable":{"description":"Posts where the reaction list could not be read. On a run that read both surfaces those posts contributed commenters only; on a run scoped with `surface` they contributed nobody. Say so when above 0; it does not mean nobody reacted.","type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"commentsUnavailable":{"description":"Posts where the comment list could not be read. The comment half of the field above, and the same rule: it does not mean nobody commented.","type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"perPost":{"description":"People SAVED per post, keyed by post id, split into likes and comments. Someone who engaged with several of the posts is counted once, under the first post they were saved from, so these are saved counts and not that post's engagement count: say saved, never say the post had only this many engagers. They add up to count. totals is a sum across posts, not a per-post figure.","type":"object","additionalProperties":{"type":"object","properties":{"likes":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"comments":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["likes","comments"],"additionalProperties":false}},"hasMore":{"type":"boolean"},"moreAvailable":{"description":"True when another page of people exists. Do not fetch it unless the user asked or tapped Load more.","type":"boolean"},"remainder":{"description":"When more pages exist: this page only — do not say fully collected, all pages, or no more remain.","type":"string"},"commentersTruncated":{"description":"Preview only: posts whose page showed more commenters than the public view exposes. Above 0 means the people listed are the top slice, never everyone who engaged; the full thread needs a connected account.","type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"note":{"description":"A caveat about this result in words ready to relay, when one applies.","type":"string"},"_displayLinkedInConnect":{"description":"Chat-only connect card marker on the public preview path. autoRetry false means connecting does not start a collect run.","type":"object","properties":{"reason":{"type":"string"},"autoRetry":{"type":"boolean"}},"required":["reason"],"additionalProperties":false},"creditsUsed":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Credits consumed by this call. 0 for free endpoints, cached results, duplicates, and for every query that does not touch LinkedIn."},"retryAfter":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Seconds to wait before another call of the same type. 0 means no wait is needed."},"_meta":{"description":"Credit balance carried on every response so a caller never has to ask for it separately. Absent when the caller has no connected account.","type":"object","properties":{"credits":{"type":"object","properties":{"current":{"type":"number","description":"Credits spent this period."},"limit":{"nullable":true,"description":"Period allowance, or null when unlimited.","type":"number"},"remaining":{"nullable":true,"description":"Allowance left, or null when unlimited.","type":"number"},"percentage":{"type":"number","description":"Share of the allowance spent, 0 to 100."},"isUnlimited":{"type":"boolean"}},"required":["current","limit","remaining","percentage","isUnlimited"],"additionalProperties":false}},"required":["credits"],"additionalProperties":false}},"required":["success","creditsUsed","retryAfter"],"additionalProperties":false}}}},"400":{"description":"The server cannot or will not process the request due to something that is perceived to be a client error.","content":{"application/json":{"example":{"success":false,"error":{"code":"bad_request","message":"The server cannot or will not process the request due to something that is perceived to be a client error.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"401":{"description":"Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue. NOTE: 401 is also returned with code \"linkedin_not_connected\" when the caller IS authenticated but has no connected LinkedIn account — connect LinkedIn (not re-authenticate) to continue.","content":{"application/json":{"example":{"success":false,"error":{"code":"unauthorized","message":"Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue. NOTE: 401 is also returned with code \"linkedin_not_connected\" when the caller IS authenticated but has no connected LinkedIn account — connect LinkedIn (not re-authenticate) to continue.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"403":{"description":"The client does not have access rights to the content.","content":{"application/json":{"example":{"success":false,"error":{"code":"forbidden","message":"The client does not have access rights to the content.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"404":{"description":"The server cannot find the requested resource.","content":{"application/json":{"example":{"success":false,"error":{"code":"not_found","message":"The server cannot find the requested resource.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"409":{"description":"The request conflicts with the current state of the server.","content":{"application/json":{"example":{"success":false,"error":{"code":"conflict","message":"The request conflicts with the current state of the server.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"410":{"description":"The requested content has been permanently deleted from the server.","content":{"application/json":{"example":{"success":false,"error":{"code":"invite_expired","message":"The requested content has been permanently deleted from the server.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"422":{"description":"The request was well-formed but was unable to be followed due to semantic errors.","content":{"application/json":{"example":{"success":false,"error":{"code":"unprocessable_entity","message":"The request was well-formed but was unable to be followed due to semantic errors.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"429":{"description":"Rate limit exceeded. Read error.retryAfter for the wait time in seconds.","content":{"application/json":{"example":{"success":false,"error":{"code":"rate_limit_exceeded","message":"Rate limit exceeded","docs":"https://bereach.ai","retryAfter":4,"daily":{"current":25,"limit":150},"weekly":null}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string","enum":["rate_limit_exceeded"]},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"retryAfter":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Seconds to wait before retrying."},"daily":{"nullable":true,"description":"Current and max daily usage (null if no daily cap).","type":"object","properties":{"current":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"limit":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["current","limit"],"additionalProperties":false},"weekly":{"nullable":true,"description":"Current and max weekly usage (null if no weekly cap).","type":"object","properties":{"current":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"limit":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["current","limit"],"additionalProperties":false},"quotaKind":{"description":"Structured classification so clients can route to the right banner without keyword matching.","type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message","retryAfter","daily","weekly"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"500":{"description":"The server encountered a situation it does not know how to handle.","content":{"application/json":{"example":{"success":false,"error":{"code":"internal_server_error","message":"The server encountered a situation it does not know how to handle.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"502":{"description":"LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds.","content":{"application/json":{"example":{"success":false,"error":{"code":"bad_gateway","message":"LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"503":{"description":"Proxy capacity temporarily exceeded. Retry after a few seconds.","content":{"application/json":{"example":{"success":false,"error":{"code":"service_unavailable","message":"Proxy capacity temporarily exceeded. Retry after a few seconds.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}}}}},"/collect/linkedin/posts":{"post":{"x-bereach":{"cost":"read","agents":["lead_gen"]},"operationId":"collectPosts","x-speakeasy-name-override":"collectPosts","summary":"Collect posts of a profile","description":"Recent posts of a LinkedIn profile or company page, read through the connected account, one page a call. Set more true only if the user asked for another page or tapped Load more.","tags":["scrapers"],"security":[{"token":[]}],"requestBody":{"required":true,"content":{"application/json":{"example":{"profileUrl":"https://www.linkedin.com/in/username"},"schema":{"type":"object","properties":{"profileUrl":{"type":"string","description":"LinkedIn profile or company page URL, vanity name, or URN. Company URLs use the organization feed; personal URLs use the profile activity feed."},"more":{"description":"Next page of the same profile. Set only when the user asked for more posts or tapped Load more. Each page uses the connected account's action budget.","type":"boolean"}},"required":["profileUrl"]}}}},"responses":{"200":{"description":"Collect-run id for profile posts","content":{"application/json":{"example":{"success":true,"runId":"a1b2c3d4e5f6a1b2c3d4e5f6","status":"running","posts":[],"count":0,"creditsUsed":0,"retryAfter":0},"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"runId":{"type":"string","description":"Collect-run id. Posts arrive on the run record; this response may include the first pages already collected."},"status":{"type":"string"},"totals":{"type":"object","properties":{"posts":{"nullable":true,"type":"number"}},"additionalProperties":false},"posts":{"type":"array","items":{"type":"object","properties":{"postUrl":{"type":"string","description":"Public URL of the post."},"text":{"type":"string","description":"Post text content."},"date":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Post creation timestamp (Unix milliseconds)."},"likesCount":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Total reactions on this post."},"commentsCount":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Total top-level comments on this post."},"sharesCount":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Total shares/reposts of this post."},"postUrn":{"type":"string","description":"LinkedIn internal URN for this post. Use with engagement tools (like, comment, collect_engagers)."},"postId":{"type":"string","description":"Numeric post identifier parsed from the URN."},"type":{"type":"string","enum":["activity","ugcPost","share"],"description":"LinkedIn post type: 'ugcPost' = standard post, 'share' = native share/repost, 'activity' = legacy format."},"isRepost":{"description":"True when the post is a repost/reshare of another post. Absent for original posts.","type":"boolean"},"media":{"description":"Media attached to the post (image, video, document, or article). Absent when the post is text-only.","type":"object","properties":{"type":{"type":"string","enum":["image","video","document","article"],"description":"Type of media attached to the post."},"urls":{"type":"array","items":{"type":"string"},"description":"Media URLs (image URLs for carousels, video streaming URL, article link, etc.)."},"title":{"description":"Title of the article or document, when available.","type":"string"},"thumbnailUrl":{"description":"Thumbnail URL for videos, articles, or document covers.","type":"string"}},"required":["type","urls"],"additionalProperties":false},"authorName":{"description":"Display name of the post's author.","type":"string"},"authorProfileUrl":{"description":"Author's profile URL.","type":"string"},"authorPublicIdentifier":{"description":"Author's vanity slug, when they have one.","nullable":true,"type":"string"},"authorProfileUrn":{"description":"Author's profile URN.","nullable":true,"type":"string"},"authorHeadline":{"description":"Author's headline as shown on the post.","type":"string"},"authorImageUrl":{"description":"Author's avatar URL.","type":"string"},"repostedFromName":{"description":"On a repost, the ORIGINAL author's name when it differs from the resharer.","type":"string"},"reactionTypeCounts":{"description":"Per-reaction-type breakdown, when LinkedIn exposes it.","type":"array","items":{"type":"object","properties":{"reactionType":{"type":"string"},"count":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["reactionType","count"],"additionalProperties":false}},"numImpressions":{"description":"Total impressions, exposed only on Creator-mode posts.","nullable":true,"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"highlightedReactorName":{"description":"Social-proof attribution, when LinkedIn surfaces one in the feed.","nullable":true,"type":"string"},"viewerLiked":{"description":"Whether the authenticated account has reacted to this post.","nullable":true,"type":"boolean"}},"required":["postUrl","text","date","likesCount","commentsCount","sharesCount","postUrn","postId","type"],"additionalProperties":false}},"count":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"unreadable":{"description":"Pages of this profile's posts that LinkedIn would not serve. Above 0 means an empty or short list is unread rather than a profile that does not post, and must not be reported as one.","type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"postsUnavailable":{"description":"The same count, named for the surface it belongs to.","type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"moreAvailable":{"description":"True when another page of posts exists. Do not fetch it unless the user asked or tapped Load more.","type":"boolean"},"hasMore":{"type":"boolean"},"remainder":{"description":"When more pages exist: this page only — do not say fully collected, all pages, or no more remain.","type":"string"},"creditsUsed":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Credits consumed by this call. 0 for free endpoints, cached results, duplicates, and for every query that does not touch LinkedIn."},"retryAfter":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Seconds to wait before another call of the same type. 0 means no wait is needed."},"_meta":{"description":"Credit balance carried on every response so a caller never has to ask for it separately. Absent when the caller has no connected account.","type":"object","properties":{"credits":{"type":"object","properties":{"current":{"type":"number","description":"Credits spent this period."},"limit":{"nullable":true,"description":"Period allowance, or null when unlimited.","type":"number"},"remaining":{"nullable":true,"description":"Allowance left, or null when unlimited.","type":"number"},"percentage":{"type":"number","description":"Share of the allowance spent, 0 to 100."},"isUnlimited":{"type":"boolean"}},"required":["current","limit","remaining","percentage","isUnlimited"],"additionalProperties":false}},"required":["credits"],"additionalProperties":false}},"required":["success","runId","status","creditsUsed","retryAfter"],"additionalProperties":false}}}},"400":{"description":"The server cannot or will not process the request due to something that is perceived to be a client error.","content":{"application/json":{"example":{"success":false,"error":{"code":"bad_request","message":"The server cannot or will not process the request due to something that is perceived to be a client error.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"401":{"description":"Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue. NOTE: 401 is also returned with code \"linkedin_not_connected\" when the caller IS authenticated but has no connected LinkedIn account — connect LinkedIn (not re-authenticate) to continue.","content":{"application/json":{"example":{"success":false,"error":{"code":"unauthorized","message":"Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue. NOTE: 401 is also returned with code \"linkedin_not_connected\" when the caller IS authenticated but has no connected LinkedIn account — connect LinkedIn (not re-authenticate) to continue.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"403":{"description":"The client does not have access rights to the content.","content":{"application/json":{"example":{"success":false,"error":{"code":"forbidden","message":"The client does not have access rights to the content.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"404":{"description":"The server cannot find the requested resource.","content":{"application/json":{"example":{"success":false,"error":{"code":"not_found","message":"The server cannot find the requested resource.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"409":{"description":"The request conflicts with the current state of the server.","content":{"application/json":{"example":{"success":false,"error":{"code":"conflict","message":"The request conflicts with the current state of the server.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"410":{"description":"The requested content has been permanently deleted from the server.","content":{"application/json":{"example":{"success":false,"error":{"code":"invite_expired","message":"The requested content has been permanently deleted from the server.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"422":{"description":"The request was well-formed but was unable to be followed due to semantic errors.","content":{"application/json":{"example":{"success":false,"error":{"code":"unprocessable_entity","message":"The request was well-formed but was unable to be followed due to semantic errors.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"429":{"description":"Rate limit exceeded. Read error.retryAfter for the wait time in seconds.","content":{"application/json":{"example":{"success":false,"error":{"code":"rate_limit_exceeded","message":"Rate limit exceeded","docs":"https://bereach.ai","retryAfter":4,"daily":{"current":25,"limit":150},"weekly":null}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string","enum":["rate_limit_exceeded"]},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"retryAfter":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Seconds to wait before retrying."},"daily":{"nullable":true,"description":"Current and max daily usage (null if no daily cap).","type":"object","properties":{"current":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"limit":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["current","limit"],"additionalProperties":false},"weekly":{"nullable":true,"description":"Current and max weekly usage (null if no weekly cap).","type":"object","properties":{"current":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"limit":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["current","limit"],"additionalProperties":false},"quotaKind":{"description":"Structured classification so clients can route to the right banner without keyword matching.","type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message","retryAfter","daily","weekly"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"500":{"description":"The server encountered a situation it does not know how to handle.","content":{"application/json":{"example":{"success":false,"error":{"code":"internal_server_error","message":"The server encountered a situation it does not know how to handle.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"502":{"description":"LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds.","content":{"application/json":{"example":{"success":false,"error":{"code":"bad_gateway","message":"LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"503":{"description":"Proxy capacity temporarily exceeded. Retry after a few seconds.","content":{"application/json":{"example":{"success":false,"error":{"code":"service_unavailable","message":"Proxy capacity temporarily exceeded. Retry after a few seconds.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}}}}},"/search/linkedin/employees":{"post":{"x-bereach":{"cost":"read","agents":["lead_gen"],"resultShape":"list"},"operationId":"searchEmployees","x-speakeasy-name-override":"employees","summary":"Search people at a company","description":"People currently associated with a company on LinkedIn. Pass a company URL, vanity slug, or name. Implemented via the cookie people-search path with `currentCompany` (HTML pages of ~10, accumulated to `count`). Optional `keywords` narrows within that company. Same result shape as search people.","tags":["search"],"security":[{"token":[]}],"requestBody":{"required":true,"content":{"application/json":{"example":{"company":"https://www.linkedin.com/company/stripe/","count":10},"schema":{"type":"object","properties":{"company":{"type":"string","minLength":1,"description":"The company, as its LinkedIn page URL, its vanity slug, or its display name. A URL or slug is exact; a display name is matched to a company page, and a name that matches none is refused rather than searched without the filter."},"keywords":{"description":"Optional keywords to narrow people at that company (title, name, skills).","type":"string"},"start":{"description":"Pagination offset into the accumulated employee list (default 0).","type":"integer","minimum":0,"maximum":9007199254740991},"count":{"description":"How many people to return in total (default 10, max 50).","type":"integer","minimum":1,"maximum":50}},"required":["company"]}}}},"responses":{"200":{"description":"People at the company","content":{"application/json":{"example":{"success":true,"company":"stripe","items":[{"type":"PEOPLE","name":"Jane Smith","profileUrl":"https://www.linkedin.com/in/janesmith","headline":"Senior Product Manager at Google","location":"San Francisco Bay Area","profilePicture":null,"networkDistance":"DISTANCE_2","currentPositions":[{"company":"Google","role":"Senior Product Manager"}],"publicIdentifier":"janesmith","profileUrn":"urn:li:fsd_profile:ACoAAB1234567890"}],"paging":{"start":0,"count":10,"total":0},"hasMore":true,"creditsUsed":1,"retryAfter":0},"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"company":{"type":"string","description":"Resolved company key used for the search (slug or name as passed after parse)."},"items":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["PEOPLE"]},"name":{"type":"string"},"profileUrl":{"nullable":true,"type":"string"},"headline":{"nullable":true,"type":"string"},"location":{"nullable":true,"type":"string"},"profilePicture":{"nullable":true,"type":"string"},"networkDistance":{"nullable":true,"description":"LinkedIn network distance: DISTANCE_1=connected, DISTANCE_2=2nd degree, DISTANCE_3=3rd degree, OUT_OF_NETWORK=not connected.","type":"string","enum":["DISTANCE_1","DISTANCE_2","DISTANCE_3","OUT_OF_NETWORK"]},"currentPositions":{"type":"array","items":{"type":"object","properties":{"company":{"nullable":true,"type":"string"},"role":{"nullable":true,"type":"string"}},"required":["company","role"],"additionalProperties":false},"description":"Current work positions for this profile."},"profileUrn":{"nullable":true,"description":"LinkedIn profile URN (e.g. urn:li:fsd_profile:ACoAAA...) when available","type":"string"},"publicIdentifier":{"nullable":true,"description":"Vanity slug from profile URL (e.g. john-doe) when not URN-based","type":"string"},"nameMatch":{"description":"True when the search ranker matched the literal name (vs headline/skills). When picking between two same-named people, the one with nameMatch=true is the one the user typed.","nullable":true,"type":"boolean"},"badgeText":{"description":"Profile badge surfaced by LinkedIn (Top Voice / Premium / Verified / Influencer). Indicates investment in the platform and is a useful qualifier weight.","nullable":true,"type":"string"},"ringStatus":{"description":"Profile ring status visualised on LinkedIn (OPEN_TO_WORK, HIRING, OPEN_FOR_BUSINESS, etc.). Open intent signal — directly relevant for recruiters, vendors, and sales.","nullable":true,"type":"string"},"summary":{"description":"Additional profile snippet returned by the search ranker, distinct from headline. Sometimes contains mutual-connection context or topic affinity (e.g. 'Writes about B2B sales').","nullable":true,"type":"string"},"actorInsights":{"description":"LinkedIn-curated context strings — typical entries: 'X mutual connections', 'Follows {company}', 'Worked at {company}'. Use these directly in personalised outreach openers.","type":"array","items":{"type":"string"}},"lane":{"description":"Present when this row came from the public lane covering for the connected account. Public data: fields a session would fill may be empty, and the name may be derived from the profile URL.","type":"string","enum":["public"]}},"required":["type","name","profileUrl","headline","location","profilePicture","networkDistance","currentPositions","profileUrn","publicIdentifier"],"additionalProperties":false}},"paging":{"type":"object","properties":{"start":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"count":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"total":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["start","count","total"],"additionalProperties":false},"hasMore":{"type":"boolean"},"warnings":{"description":"Caveats about this result set. Absent or empty means the search ran exactly as asked.","type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"Which part of the request this is about, or `search` when it is about the whole result set."},"value":{"type":"string","description":"The value involved: what was dropped, or a code naming the condition."},"type":{"type":"string","description":"What kind of caveat this is. SEARCH_QUOTA: LinkedIn capped this account for the month, so the set is TRUNCATED and not the whole market. PARSE_EMPTY: the page answered and no rows could be read, and LinkedIn did not say the market is empty, so treat it as unread rather than as nobody matching. URL_FACET: a pasted search URL carried a filter this search cannot apply, so it ran wider than the one on screen. ENUM: a value was not recognised and that filter was dropped. LANE_FALLBACK: some or all rows came from the public lane, which fills fewer fields. AND_BLOB / OR_OVERFLOW: the keyword shape over-constrained and was retried or flagged. SEARCH_PLAN: the ask was spread across a search budget rather than paged."},"hint":{"description":"One sentence a caller can show a person.","type":"string"}},"required":["field","value","type"],"additionalProperties":false}},"creditsUsed":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Credits consumed by this call. 0 for free endpoints, cached results, duplicates, and for every query that does not touch LinkedIn."},"retryAfter":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Seconds to wait before another call of the same type. 0 means no wait is needed."},"_meta":{"description":"Credit balance carried on every response so a caller never has to ask for it separately. Absent when the caller has no connected account.","type":"object","properties":{"credits":{"type":"object","properties":{"current":{"type":"number","description":"Credits spent this period."},"limit":{"nullable":true,"description":"Period allowance, or null when unlimited.","type":"number"},"remaining":{"nullable":true,"description":"Allowance left, or null when unlimited.","type":"number"},"percentage":{"type":"number","description":"Share of the allowance spent, 0 to 100."},"isUnlimited":{"type":"boolean"}},"required":["current","limit","remaining","percentage","isUnlimited"],"additionalProperties":false}},"required":["credits"],"additionalProperties":false}},"required":["success","company","items","paging","hasMore","creditsUsed","retryAfter"],"additionalProperties":false}}}},"400":{"description":"The server cannot or will not process the request due to something that is perceived to be a client error.","content":{"application/json":{"example":{"success":false,"error":{"code":"bad_request","message":"The server cannot or will not process the request due to something that is perceived to be a client error.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"401":{"description":"Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue. NOTE: 401 is also returned with code \"linkedin_not_connected\" when the caller IS authenticated but has no connected LinkedIn account — connect LinkedIn (not re-authenticate) to continue.","content":{"application/json":{"example":{"success":false,"error":{"code":"unauthorized","message":"Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue. NOTE: 401 is also returned with code \"linkedin_not_connected\" when the caller IS authenticated but has no connected LinkedIn account — connect LinkedIn (not re-authenticate) to continue.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"403":{"description":"The client does not have access rights to the content.","content":{"application/json":{"example":{"success":false,"error":{"code":"forbidden","message":"The client does not have access rights to the content.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"404":{"description":"The server cannot find the requested resource.","content":{"application/json":{"example":{"success":false,"error":{"code":"not_found","message":"The server cannot find the requested resource.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"409":{"description":"The request conflicts with the current state of the server.","content":{"application/json":{"example":{"success":false,"error":{"code":"conflict","message":"The request conflicts with the current state of the server.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"410":{"description":"The requested content has been permanently deleted from the server.","content":{"application/json":{"example":{"success":false,"error":{"code":"invite_expired","message":"The requested content has been permanently deleted from the server.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"422":{"description":"The request was well-formed but was unable to be followed due to semantic errors.","content":{"application/json":{"example":{"success":false,"error":{"code":"unprocessable_entity","message":"The request was well-formed but was unable to be followed due to semantic errors.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"429":{"description":"Rate limit exceeded. Read error.retryAfter for the wait time in seconds.","content":{"application/json":{"example":{"success":false,"error":{"code":"rate_limit_exceeded","message":"Rate limit exceeded","docs":"https://bereach.ai","retryAfter":4,"daily":{"current":25,"limit":150},"weekly":null}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string","enum":["rate_limit_exceeded"]},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"retryAfter":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Seconds to wait before retrying."},"daily":{"nullable":true,"description":"Current and max daily usage (null if no daily cap).","type":"object","properties":{"current":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"limit":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["current","limit"],"additionalProperties":false},"weekly":{"nullable":true,"description":"Current and max weekly usage (null if no weekly cap).","type":"object","properties":{"current":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"limit":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["current","limit"],"additionalProperties":false},"quotaKind":{"description":"Structured classification so clients can route to the right banner without keyword matching.","type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message","retryAfter","daily","weekly"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"500":{"description":"The server encountered a situation it does not know how to handle.","content":{"application/json":{"example":{"success":false,"error":{"code":"internal_server_error","message":"The server encountered a situation it does not know how to handle.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"502":{"description":"LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds.","content":{"application/json":{"example":{"success":false,"error":{"code":"bad_gateway","message":"LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"503":{"description":"Proxy capacity temporarily exceeded. Retry after a few seconds.","content":{"application/json":{"example":{"success":false,"error":{"code":"service_unavailable","message":"Proxy capacity temporarily exceeded. Retry after a few seconds.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}}}}},"/search/linkedin/posts":{"post":{"x-bereach":{"cost":"read","agents":["lead_gen"],"resultShape":"post"},"operationId":"searchPosts","x-speakeasy-name-override":"posts","summary":"Search LinkedIn Posts","description":"# Search LinkedIn Posts\n\nSearch LinkedIn's content index for posts matching your keywords and filters. Returns structured post data including full text, engagement metrics, author info, and URLs.\n\n## Required parameters\n- **keywords** (string, required): The search terms to match against post content. Examples: `\"AI automation\"`, `\"remote work trends\"`, `\"SaaS growth strategies\"`.\n\n## Keyword syntax (Boolean operators)\nKeywords support LinkedIn Boolean search syntax:\n- **Exact phrase**: `\"outreach automation\"` — matches only that exact phrase\n- **AND**: `AI AND marketing` — both terms required (spaces default to AND)\n- **OR**: `\"growth hacking\" OR \"growth marketing\"` — either term\n- **NOT**: `outreach NOT webinar` — exclude unwanted terms\n- **Parentheses**: `(AI OR ML) AND \"case study\"` — group logic\n\nOperators must be **UPPERCASE**. Precedence: Quotes > Parentheses > NOT > AND > OR.\n\n## Available filters\n| Filter | Type | Description |\n|--------|------|-------------|\n| `sortBy` | `\"relevance\"` \\| `\"date\"` | Sort by relevance (default) or most recent first |\n| `authorJobTitle` | string[] | The author's job title, free text. The strongest filter here: two different titles return sets of authors that do not overlap, so asking twice reaches twice as many people |\n| `postedBy` | string[] | Restrict to your own network: `first` or `following`. Far fewer results by nature |\n| `contentType` | `\"images\"` \\| `\"videos\"` \\| `\"documents\"` | Filter by media type |\n| `authorIndustry` | string[] | Author's industry IDs (resolve via `/search/linkedin/parameters` with type=`INDUSTRY`) |\n| `authorCompany` | string[] | Author's company IDs (resolve via `/search/linkedin/parameters` with type=`COMPANY`) |\n| `datePosted` | `\"past-24h\"` \\| `\"past-week\"` \\| `\"past-month\"` | Filter by recency window. On a high-volume query the newest posts are shared across windows, so the first page can look unchanged while the narrower window holds fewer results |\n\n## Response fields (per item)\n| Field | Type | Description |\n|-------|------|-------------|\n| `postUrl` | string | Direct URL to the LinkedIn post |\n| `text` | string | Full post text content |\n| `date` | number | Publication timestamp (ms since epoch) |\n| `likesCount` | number | Total reactions |\n| `commentsCount` | number | Total comments |\n| `sharesCount` | number | Total shares/reposts |\n| `author.name` | string | Author's display name |\n| `author.profileUrl` | string | Author's LinkedIn profile URL |\n| `author.headline` | string | Author's headline |\n| `author.isCompany` | boolean | Whether the author is a company page |\n| `isRepost` | boolean | Whether this is a repost of another post |\n\n## Pagination\n- Default page size: 10, max: 50\n- Use `start` + `count` to paginate: `start=0, count=10` → page 1, `start=10, count=10` → page 2\n- Check `hasMore` in the response to know if more pages exist\n- `paging.total` gives the estimated total number of results\n\n## Example workflows\n1. **Content research**: Search for trending topics → analyze top posts → extract engagement patterns\n2. **Lead generation**: Search for posts about problems your product solves → extract author profiles\n3. **Competitive intelligence**: Search for competitor mentions → track sentiment and engagement\n\n## Credits\n","tags":["search"],"security":[{"token":[]}],"requestBody":{"required":true,"content":{"application/json":{"example":{"keywords":"AI automation","sortBy":"date","authorJobTitle":["head of engineering"],"count":10,"start":0},"schema":{"type":"object","properties":{"keywords":{"type":"string","description":"Search keywords (required). Searches across post text content. Supports LinkedIn Boolean syntax: use double quotes for exact phrases (e.g. \"AI automation\"), AND to require both terms, OR for alternatives (e.g. \"growth hacking\" OR \"growth marketing\"), NOT to exclude (e.g. outreach NOT webinar), and parentheses to group (e.g. (AI OR ML) AND \"case study\"). Operators must be UPPERCASE. Without quotes, multi-word queries are treated as AND by default which may return broad results."},"url":{"description":"A LinkedIn search URL. The category and every filter the vertical can actually apply are read from it; a facet it carries that this search cannot apply is reported back as a URL_FACET warning rather than applied, so a result set carrying those is WIDER than the URL asked for. Explicit params override anything read from the URL.","type":"string"},"sortBy":{"description":"Sort order. 'relevance' (default) or 'date' (most recent first). Natural forms ('newest','recent') are normalized server-side.","type":"string"},"datePosted":{"description":"Filter posts by recency window: 'past-24h' < 'past-week' < 'past-month'. Natural forms ('last week','this month','24 hours') are normalized server-side. On a high-volume query the newest posts are shared across windows, so the first page of results can look identical while the narrower window genuinely holds fewer; judge it by how deep the results go rather than by the top of the list.","type":"string"},"contentType":{"description":"Filter by media type: 'images' (photos), 'videos', 'documents' (carousel/PDF). Natural forms ('video','photo','pdf') are normalized server-side.","type":"string"},"authorIndustry":{"description":"Filter by the post author's industry. Pass human labels (e.g. ['Software Development']) — server resolves to LinkedIn industry IDs via typeahead. Numeric IDs pass through if you already have them.","type":"array","items":{"type":"string"}},"authorCompany":{"description":"Filter by the post author's company. Pass company names (e.g. ['Google','Stripe']) — server resolves to LinkedIn company IDs via typeahead. Numeric IDs pass through if you already have them.","type":"array","items":{"type":"string"}},"authorJobTitle":{"description":"Filter by the post author's job title, as free text. The strongest filter on post search by a wide margin: two different titles return sets of authors that do not overlap at all, so it is also the best way to reach more people by asking twice. Needs no id, unlike the industry and company filters.","type":"array","items":{"type":"string"}},"postedBy":{"description":"Restrict to posts from your own network: 'first' for first-degree connections, 'following' for people you follow. Returns far fewer results than an open search by nature, since it is bounded by who you know rather than by everything LinkedIn has indexed.","type":"array","items":{"type":"string"}},"start":{"description":"Pagination offset (default 0). Use multiples of `count` to page through results. Example: start=0 for page 1, start=10 for page 2 (with count=10).","type":"integer","minimum":0,"maximum":9007199254740991},"count":{"description":"How many posts to return (default 20, max 50). One SDUI pager call can return up to fifty (measured).","type":"integer","minimum":1,"maximum":50}},"required":["keywords"]}}}},"responses":{"200":{"description":"List of LinkedIn posts matching the search criteria","content":{"application/json":{"example":{"success":true,"category":"posts","items":[{"type":"POST","postUrl":"https://www.linkedin.com/feed/update/urn:li:activity:1234567890","text":"Just shipped our new AI automation pipeline...","date":1731547200000,"likesCount":142,"commentsCount":23,"sharesCount":8,"postUrn":"urn:li:activity:1234567890","postId":"1234567890","author":{"name":"Sarah Chen","profileUrl":"https://www.linkedin.com/in/sarahchen","headline":"VP Engineering at TechCo","profilePicture":null,"isCompany":false,"publicIdentifier":"sarahchen","profileUrn":"urn:li:fsd_profile:ACoAAC9876543210"},"isRepost":false}],"paging":{"start":0,"count":10,"total":500},"hasMore":true,"creditsUsed":1,"retryAfter":0},"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"category":{"type":"string","enum":["posts"]},"items":{"type":"array","items":{"type":"object","properties":{"postUrl":{"type":"string","description":"Public URL of the post."},"text":{"type":"string","description":"Post text content."},"date":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Post creation timestamp (Unix milliseconds)."},"likesCount":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Total reactions on this post."},"commentsCount":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Total top-level comments on this post."},"sharesCount":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Total shares/reposts of this post."},"postUrn":{"type":"string","description":"LinkedIn internal URN for this post. Use with engagement tools (like, comment, collect_engagers)."},"postId":{"type":"string","description":"Numeric post identifier parsed from the URN."},"media":{"description":"Media attached to the post (image, video, document, or article). Absent when the post is text-only.","type":"object","properties":{"type":{"type":"string","enum":["image","video","document","article"],"description":"Type of media attached to the post."},"urls":{"type":"array","items":{"type":"string"},"description":"Media URLs (image URLs for carousels, video streaming URL, article link, etc.)."},"title":{"description":"Title of the article or document, when available.","type":"string"},"thumbnailUrl":{"description":"Thumbnail URL for videos, articles, or document covers.","type":"string"}},"required":["type","urls"],"additionalProperties":false},"repostedFromName":{"description":"On a repost, the ORIGINAL author's name when it differs from the resharer.","type":"string"},"reactionTypeCounts":{"description":"Per-reaction-type breakdown, when LinkedIn exposes it.","type":"array","items":{"type":"object","properties":{"reactionType":{"type":"string"},"count":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["reactionType","count"],"additionalProperties":false}},"numImpressions":{"description":"Total impressions, exposed only on Creator-mode posts.","nullable":true,"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"highlightedReactorName":{"description":"Social-proof attribution, when LinkedIn surfaces one in the feed.","nullable":true,"type":"string"},"viewerLiked":{"description":"Whether the authenticated account has reacted to this post.","nullable":true,"type":"boolean"},"type":{"type":"string","enum":["POST"]},"author":{"type":"object","properties":{"name":{"type":"string"},"profileUrl":{"nullable":true,"type":"string"},"headline":{"nullable":true,"type":"string"},"profilePicture":{"nullable":true,"type":"string"},"isCompany":{"type":"boolean"},"publicIdentifier":{"nullable":true,"description":"Vanity slug when not URN-based","type":"string"},"profileUrn":{"nullable":true,"description":"LinkedIn profile URN when available","type":"string"}},"required":["name","profileUrl","headline","profilePicture","isCompany","publicIdentifier","profileUrn"],"additionalProperties":false},"isRepost":{"type":"boolean"}},"required":["postUrl","text","date","likesCount","commentsCount","sharesCount","postUrn","postId","type","author","isRepost"],"additionalProperties":false}},"paging":{"type":"object","properties":{"start":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"count":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"total":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["start","count","total"],"additionalProperties":false},"hasMore":{"type":"boolean"},"warnings":{"description":"Caveats about this result set. Absent or empty means the search ran exactly as asked.","type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"Which part of the request this is about, or `search` when it is about the whole result set."},"value":{"type":"string","description":"The value involved: what was dropped, or a code naming the condition."},"type":{"type":"string","description":"What kind of caveat this is. SEARCH_QUOTA: LinkedIn capped this account for the month, so the set is TRUNCATED and not the whole market. PARSE_EMPTY: the page answered and no rows could be read, and LinkedIn did not say the market is empty, so treat it as unread rather than as nobody matching. URL_FACET: a pasted search URL carried a filter this search cannot apply, so it ran wider than the one on screen. ENUM: a value was not recognised and that filter was dropped. LANE_FALLBACK: some or all rows came from the public lane, which fills fewer fields. AND_BLOB / OR_OVERFLOW: the keyword shape over-constrained and was retried or flagged. SEARCH_PLAN: the ask was spread across a search budget rather than paged."},"hint":{"description":"One sentence a caller can show a person.","type":"string"}},"required":["field","value","type"],"additionalProperties":false}},"creditsUsed":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Credits consumed by this call. 0 for free endpoints, cached results, duplicates, and for every query that does not touch LinkedIn."},"retryAfter":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Seconds to wait before another call of the same type. 0 means no wait is needed."},"_meta":{"description":"Credit balance carried on every response so a caller never has to ask for it separately. Absent when the caller has no connected account.","type":"object","properties":{"credits":{"type":"object","properties":{"current":{"type":"number","description":"Credits spent this period."},"limit":{"nullable":true,"description":"Period allowance, or null when unlimited.","type":"number"},"remaining":{"nullable":true,"description":"Allowance left, or null when unlimited.","type":"number"},"percentage":{"type":"number","description":"Share of the allowance spent, 0 to 100."},"isUnlimited":{"type":"boolean"}},"required":["current","limit","remaining","percentage","isUnlimited"],"additionalProperties":false}},"required":["credits"],"additionalProperties":false}},"required":["success","category","items","paging","hasMore","creditsUsed","retryAfter"],"additionalProperties":false}}}},"400":{"description":"The server cannot or will not process the request due to something that is perceived to be a client error.","content":{"application/json":{"example":{"success":false,"error":{"code":"bad_request","message":"The server cannot or will not process the request due to something that is perceived to be a client error.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"401":{"description":"Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue. NOTE: 401 is also returned with code \"linkedin_not_connected\" when the caller IS authenticated but has no connected LinkedIn account — connect LinkedIn (not re-authenticate) to continue.","content":{"application/json":{"example":{"success":false,"error":{"code":"unauthorized","message":"Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue. NOTE: 401 is also returned with code \"linkedin_not_connected\" when the caller IS authenticated but has no connected LinkedIn account — connect LinkedIn (not re-authenticate) to continue.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"403":{"description":"The client does not have access rights to the content.","content":{"application/json":{"example":{"success":false,"error":{"code":"forbidden","message":"The client does not have access rights to the content.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"404":{"description":"The server cannot find the requested resource.","content":{"application/json":{"example":{"success":false,"error":{"code":"not_found","message":"The server cannot find the requested resource.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"409":{"description":"The request conflicts with the current state of the server.","content":{"application/json":{"example":{"success":false,"error":{"code":"conflict","message":"The request conflicts with the current state of the server.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"410":{"description":"The requested content has been permanently deleted from the server.","content":{"application/json":{"example":{"success":false,"error":{"code":"invite_expired","message":"The requested content has been permanently deleted from the server.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"422":{"description":"The request was well-formed but was unable to be followed due to semantic errors.","content":{"application/json":{"example":{"success":false,"error":{"code":"unprocessable_entity","message":"The request was well-formed but was unable to be followed due to semantic errors.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"429":{"description":"Rate limit exceeded. Read error.retryAfter for the wait time in seconds.","content":{"application/json":{"example":{"success":false,"error":{"code":"rate_limit_exceeded","message":"Rate limit exceeded","docs":"https://bereach.ai","retryAfter":4,"daily":{"current":25,"limit":150},"weekly":null}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string","enum":["rate_limit_exceeded"]},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"retryAfter":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Seconds to wait before retrying."},"daily":{"nullable":true,"description":"Current and max daily usage (null if no daily cap).","type":"object","properties":{"current":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"limit":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["current","limit"],"additionalProperties":false},"weekly":{"nullable":true,"description":"Current and max weekly usage (null if no weekly cap).","type":"object","properties":{"current":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"limit":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["current","limit"],"additionalProperties":false},"quotaKind":{"description":"Structured classification so clients can route to the right banner without keyword matching.","type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message","retryAfter","daily","weekly"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"500":{"description":"The server encountered a situation it does not know how to handle.","content":{"application/json":{"example":{"success":false,"error":{"code":"internal_server_error","message":"The server encountered a situation it does not know how to handle.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"502":{"description":"LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds.","content":{"application/json":{"example":{"success":false,"error":{"code":"bad_gateway","message":"LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}},"503":{"description":"Proxy capacity temporarily exceeded. Retry after a few seconds.","content":{"application/json":{"example":{"success":false,"error":{"code":"service_unavailable","message":"Proxy capacity temporarily exceeded. Retry after a few seconds.","docs":"https://bereach.ai"}},"schema":{"type":"object","properties":{"success":{"default":false,"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"docs":{"type":"string","format":"uri"},"details":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"upgradeUrl":{"type":"string"},"quotaKind":{"type":"string","enum":["credits","daily-cap","linkedin-rate","ai-model-rate","pacing"]}},"required":["code","message"],"additionalProperties":false}},"required":["success","error"],"additionalProperties":false}}}}}}},"/search/linkedin/people":{"post":{"x-bereach":{"cost":"read","agents":["lead_gen"],"resultShape":"list"},"operationId":"searchPeople","x-speakeasy-name-override":"people","summary":"Search LinkedIn People","description":"# Search LinkedIn People\n\nFind professionals on LinkedIn by name, title, company, location, industry, and more. Returns structured profile data including name, headline, current positions, connection degree, profile picture, **plus 2026-06-03 enrichments**: `nameMatch` (true when the result matched on literal name — strong personhood signal), `badgeText` (Top Voice / Premium / Verified / Influencer — qualifier weight), `ringStatus` (OPEN_TO_WORK / HIRING — open intent signals you can directly target), `summary` (additional snippet beyond headline), `actorInsights` (LinkedIn-curated context like 'X mutual connections', 'Follows {company}' — use directly in personalised outreach openers).\n\n## Parameters\n- **keywords** (optional): Search terms matched against name, headline, company, skills, and bio\n- You can search by filters alone (no keywords) — e.g. find all 2nd-degree connections in Paris\n\n## Keyword syntax (Boolean operators)\nKeywords support LinkedIn Boolean search syntax:\n- **Exact phrase**: `\"product manager\"` — matches only that exact title\n- **AND**: `engineer AND startup` — both terms required (spaces default to AND)\n- **OR**: `CEO OR founder OR CTO` — any of the terms\n- **NOT**: `manager NOT assistant` — exclude unwanted terms\n- **Parentheses**: `(CEO OR CTO) AND SaaS` — group logic\n\nOperators must be **UPPERCASE**. Precedence: Quotes > Parentheses > NOT > AND > OR.\n\n## Available filters\nPass HUMAN LABELS for location / industry / currentCompany / pastCompany / school — the server resolves them to LinkedIn IDs via typeahead. Numeric IDs pass through unchanged if you already have them.\n\n| Filter | Type | Description |\n|--------|------|-------------|\n| `connectionDegree` | `[\"F\"\\|\"S\"\\|\"O\"]` | Connection level: F=1st, S=2nd, O=3rd+ |\n| `firstName` | string | Exact first name match |\n| `lastName` | string | Exact last name match |\n| `title` | string | Current job title (supports `\\|` OR syntax: `\"CEO\\|CTO\"`) |\n| `connectionOf` | string | Profile URN — find their connections |\n| `followersOf` | string[] | Profile URNs — find a creator's followers |\n| `openToVolunteering` | boolean | Only people open to volunteering |\n| `serviceCategories` | string[] | Service-Marketplace category names |\n| `profileLanguage` | string[] | ISO 639-1 codes: `[\"en\",\"fr\"]` |\n| `location` | string[] | Geo labels (e.g. `[\"Paris\",\"France\"]`) — resolved server-side |\n| `industry` | string[] | Industry labels (e.g. `[\"Software Development\"]`) — resolved server-side |\n| `currentCompany` | string[] | Company labels (e.g. `[\"Stripe\",\"Datadog\"]`) — resolved server-side |\n| `pastCompany` | string[] | Company labels — resolved server-side |\n| `school` | string[] | School/university labels — resolved server-side |\n\n## Response fields (per item)\n| Field | Type | Description |\n|-------|------|-------------|\n| `name` | string | Full display name |\n| `profileUrl` | string | LinkedIn profile URL |\n| `headline` | string\\|null | Professional headline |\n| `location` | string\\|null | Geographic location |\n| `profilePicture` | string\\|null | Profile photo URL |\n| `networkDistance` | string\\|null | `DISTANCE_1`, `DISTANCE_2`, `DISTANCE_3`, or `OUT_OF_NETWORK` |\n| `currentPositions` | array | Current job positions with `company` and `role` |\n\n## Pagination\n- Default page size: 10, max: 50\n- Use `start` + `count` to paginate. Check `hasMore` for more pages.\n- Paginate via `start` + `count`; check `hasMore` for more pages.\n\n## Example workflows\n1. **Prospect list building**: Search by title + location + industry → build a targeted outreach list\n2. **Recruiting**: Search by title + company + school → find people who match\n3. **Network mapping**: Search `connectionOf` + filters → explore someone's network\n\n## Workflow — pass labels directly\n```\nPOST /search/linkedin/people {\n  keywords: 'product manager',\n  location: ['San Francisco'],\n  currentCompany: ['Google']\n}\n→ server resolves labels → matching people\n```\nOnly call `/search/linkedin/parameters` when you need to EXPLORE available values (\"what are the canonical industry buckets?\"), never as a prerequisite to a search.\n\n## Credits\n","tags":["search"],"security":[{"token":[]}],"requestBody":{"required":true,"content":{"application/json":{"example":{"keywords":"product manager","connectionDegree":["S"],"location":["103644278"],"currentCompany":["1441"],"count":10,"start":0},"schema":{"type":"object","properties":{"keywords":{"description":"Search keywords. Matches against name, headline, company, skills, and bio. Optional — you can search by filters alone (e.g. all 2nd-degree connections in Paris). Supports LinkedIn Boolean syntax: use double quotes for exact phrases (e.g. \"product manager\"), AND to require both terms, OR for alternatives (e.g. CEO OR founder OR CTO), NOT to exclude (e.g. manager NOT assistant), and parentheses to group (e.g. (CEO OR CTO) AND SaaS). Operators must be UPPERCASE.","type":"string"},"url":{"description":"A LinkedIn search URL. The category and every filter the vertical can actually apply are read from it; a facet it carries that this search cannot apply is reported back as a URL_FACET warning rather than applied, so a result set carrying those is WIDER than the URL asked for. Explicit params override anything read from the URL.","type":"string"},"maxSearches":{"description":"Spend up to this many LinkedIn searches on one ask, cutting it along independent angles so the result reaches people a single search cannot. One search returns about ten people; the angles do not overlap much, so the total grows close to linearly with what you spend. Leave it out to run exactly one search.","type":"integer","minimum":1,"maximum":30},"connectionDegree":{"description":"Filter by connection degree. 'F' = 1st degree (your direct connections), 'S' = 2nd degree (connections of connections), 'O' = 3rd+ degree and out of network. Accepts multiple values, e.g. ['F','S'] for 1st and 2nd degree.","type":"array","items":{"type":"string","enum":["F","S","O"]}},"firstName":{"description":"Filter by first name. Exact match (case-insensitive).","type":"string"},"lastName":{"description":"Filter by last name. Exact match (case-insensitive).","type":"string"},"title":{"description":"Filter by current job title. Matches against the person's current position title. Supports LinkedIn Boolean OR: 'CEO OR CTO OR Founder'. Pipe separators are auto-converted: 'CEO|CTO|Founder' becomes 'CEO OR CTO OR Founder'. Use double quotes for exact multi-word titles: '\"Head of Marketing\" OR \"VP Sales\"'.","type":"string"},"connectionOf":{"description":"Find connections of a specific person. Pass the person's LinkedIn profile URN (e.g. 'urn:li:fsd_profile:ACoAABZ0Qo4B...'). Returns people who are connected to this person.","type":"string"},"profileLanguage":{"description":"Filter by LinkedIn profile language. Array of ISO 639-1 codes (e.g. ['en','fr']); the server resolves any code.","type":"array","items":{"type":"string"}},"school":{"description":"Filter by school/university. Pass human names (e.g. ['Harvard','Stanford']) — server resolves to LinkedIn IDs via typeahead. Numeric IDs pass through if you already have them.","type":"array","items":{"type":"string"}},"location":{"description":"Filter by geographic location. Pass human names (e.g. ['Paris','France']) — server resolves to LinkedIn geo IDs via typeahead. Numeric IDs pass through if you already have them.","type":"array","items":{"type":"string"}},"industry":{"description":"Filter by industry. Pass human names (e.g. ['Software Development','Marketing']) — server resolves to LinkedIn industry IDs via typeahead. Numeric IDs pass through if you already have them.","type":"array","items":{"type":"string"}},"currentCompany":{"description":"Filter by current employer. Pass company names (e.g. ['Stripe','Datadog']) — server resolves to LinkedIn company IDs via typeahead. Numeric IDs pass through if you already have them.","type":"array","items":{"type":"string"}},"pastCompany":{"description":"Filter by past employer. Pass company names — server resolves to LinkedIn company IDs via typeahead. Numeric IDs pass through if you already have them. Finds people who previously worked at these companies.","type":"array","items":{"type":"string"}},"followersOf":{"description":"Find people who follow a specific creator/thought-leader. Array of LinkedIn profile URNs (e.g. 'urn:li:fsd_profile:ACoAAB...'). A warm-discovery vector: the audience of an influential voice in your space. Get URNs from a prior search_people / visit_profile result.","type":"array","items":{"type":"string"}},"openToVolunteering":{"description":"When true, only return people who marked themselves open to volunteering.","type":"boolean"},"serviceCategories":{"description":"Filter by LinkedIn Service-Marketplace category — for finding freelancers/consultants. Pass category NAMES (e.g. ['Digital Marketing','Web Development','Management Consulting']) — resolved to IDs server-side.","type":"array","items":{"type":"string"}},"verifiedOnly":{"description":"Only people whose identity LinkedIn has verified. Reaches a different set rather than a smaller one: measured, it kept about half the unfiltered results and replaced the rest.","type":"boolean"},"schoolFreetext":{"description":"School as free text, matched on the name rather than an id. Use this when you know what the school is called but not its LinkedIn id; use `school` when you have the id.","type":"string"},"companyHQ":{"description":"Location of the company HEADQUARTERS (geo labels or ids), which is a different question from where the person is. A rep in Paris at a Berlin-headquartered firm matches one and not the other. Labels resolve via typeahead.","type":"array","items":{"type":"string"}},"companySize":{"description":"Company size on the PEOPLE search (employer headcount). Pass a human employee range and it is converted for you: A=1, B=2-10, C=11-50, D=51-200, E=201-500, F=501-1000, G=1001-5000, H=5001-10000, I=10001+.","type":"array","items":{"type":"string"}},"start":{"description":"Pagination offset into the accumulated result list (default 0). LinkedIn serves about ten people per HTML page; use multiples of that page size to skip whole pages.","type":"integer","minimum":0,"maximum":9007199254740991},"count":{"description":"How many people to return in total (default 10, max 50). LinkedIn's HTML search page is fixed at about ten results; the server pages with ?page=N until this total is reached.","type":"integer","minimum":1,"maximum":50}}}}}},"responses":{"200":{"description":"List of LinkedIn people matching the search criteria","content":{"application/json":{"example":{"success":true,"category":"people","items":[{"type":"PEOPLE","name":"Jane Smith","profileUrl":"https://www.linkedin.com/in/janesmith","headline":"Senior Product Manager at Google","location":"San Francisco Bay Area","profilePicture":null,"networkDistance":"DISTANCE_2","currentPositions":[{"company":"Google","role":"Senior Product Manager"}],"publicIdentifier":"janesmith","profileUrn":"urn:li:fsd_profile:ACoAAB1234567890"}],"paging":{"start":0,"count":10,"total":1000},"hasMore":true,"creditsUsed":1,"retryAfter":0},"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"category":{"type":"string","enum":["people"]},"items":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["PEOPLE"]},"name":{"type":"string"},"profileUrl":{"nullable":true,"type":"string"},"headline":{"nullable":true,"type":"string"},"location":{"nullable":true,"type":"string"},"profilePicture":{"nullable":true,"type":"string"},"networkDistance":{"nullable":true,"description":"LinkedIn network distance: DISTANCE_1=connected, DISTANCE_2=2nd degree, DISTANCE_3=3rd degree, OUT_OF_NETWORK=not connected.","type":"string","enum":["DISTANCE_1","DISTANCE_2","DISTANCE_3","OUT_OF_NETWORK"]},"currentPositions":{"type":"array","items":{"type":"object","properties":{"company":{"nullable":true,"type":"string"},"role":{"nullable":true,"type":"string"}},"required":["company","role"],"additionalProperties":false},"description":"Current work positions for this profile."},"profileUrn":{"nullable":true,"description":"LinkedIn profile URN (e.g. urn:li:fsd_profile:ACoAAA...) when available","type":"string"},"publicIdentifier":{"nullable":true,"description":"Vanity slug from profile URL (e.g. john-doe) when not URN-based","type":"string"},"nameMatch":{"description":"True when the search ranker matched the literal name (vs headline/skills). When picking between two same-named people, the one with nameMatch=true is the one the user typed.","nullable":true,"type":"boolean"},"badgeText":{"description":"Profile badge surfaced by LinkedIn (Top Voice / Premium / Verified / Influencer). Indicates investment in the platform and is a useful qualifier weight.","nullable":true,"type":"string"},"ringStatus":{"description":"Profile ring status visualised on LinkedIn (OPEN_TO_WORK, HIRING, OPEN_FOR_BUSINESS, etc.). Open intent signal — directly relevant for recruiters, vendors, and sales.","nullable":true,"type":"string"},"summary":{"description":"Additional profile snippet returned by the search ranker, distinct from headline. Sometimes contains mutual-connection context or topic affinity (e.g. 'Writes about B2B sales').","nullable":true,"type":"string"},"actorInsights":{"description":"LinkedIn-curated context strings — typical entries: 'X mutual connections', 'Follows {company}', 'Worked at {company}'. Use these directly in personalised outreach openers.","type":"array","items":{"type":"string"}},"lane":{"description":"Present when this row came from the public lane covering for the connected account. Public data: fields a session would fill may be empty, and the name may be derived from the profile URL.","type":"string","enum":["public"]}},"required":["type","name","profileUrl","headline","location","profilePicture","networkDistance","currentPositions","profileUrn","publicIdentifier"],"additionalProperties":false}},"paging":{"type":"object","properties":{"start":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"count":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"total":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["start","count","total"],"additionalProperties":false},"hasMore":{"type":"boolean"},"warnings":{"description":"Caveats about this result set. Absent or empty means the search ran exactly as asked.","type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"Which part of the request this is about, or `search` when it is about the whole result set."},"value":{"type":"string","description":"The value involved: what was dropped, or a code naming the condition."},"type":{"type":"string","description":"What kind of caveat this is. SEARCH_QUOTA: LinkedIn capped this account for the month, so the set is TRUNCATED and not the whole market. PARSE_EMPTY: the page answered and no rows could be read, and LinkedIn did not say the market is empty, so treat it as unread rather than as nobody matching. URL_FACET: a pasted search URL carried a filter this search cannot apply, so it r
[...]
