openapi: "3.0.3"
info:
  title: "BeReach API"
  description: "BeReach | Unofficial Linkedin API"
  version: "1.4.0"
  contact:
    name: "BeReach Support"
    email: "alexandre@berea.ch"
    url: "https://berea.ch/api"
  license:
    name: "AGPL-3.0 license"
    url: "https://github.com/berea-ch/bereach/blob/main/LICENSE.md"
servers:
  - url: "https://api.berea.ch"
    description: "Production API"
  - url: "https://api-staging.berea.ch"
    description: "Staging API"
tags:
  - name: "search"
    description: "Search LinkedIn for posts, people, companies, and jobs. Includes parameter resolution (typeahead) for converting text to LinkedIn IDs."
  - name: "salesNav"
    description: "Search LinkedIn Sales Navigator for leads (people) and accounts (companies). Requires an active Sales Navigator subscription."
  - name: "profile"
    description: "Endpoints for the authenticated user's own LinkedIn profile"
  - name: "scrapers"
    description: "Endpoints for scraping LinkedIn interactions (likes, comments, posts)"
  - name: "actions"
    description: "Endpoints for performing LinkedIn actions (visit, connect, message, like, reply, publish)"
  - name: "chat"
    description: "Endpoints for LinkedIn inbox: list conversations, search, read messages"
  - name: "companyPages"
    description: "Endpoints for managing LinkedIn company pages: list, permissions, posts, and actions"
  - name: "campaigns"
    description: "Endpoints for managing campaigns and workflow filtering"
  - name: "contacts"
    description: "Endpoints for managing contacts and lifecycle stages without requiring a campaign"
  - name: "scheduledMessages"
    description: "Endpoints for creating, scheduling, and managing draft DMs"
  - name: "context"
    description: "Endpoints for managing user-defined context entries (ICP, tone, playbook, etc.)"
  - name: "cron"
    description: "Endpoints for managing cron schedules (DM polling, draft send, etc.)"
paths:
  /collect/linkedin/likes:
    post:
      operationId: "collectLikes"
      x-speakeasy-name-override: "collectLikes"
      summary: "Scrape LinkedIn post likes"
      description: "Returns up to 100 profiles per page that reacted to the specified post (LinkedIn API limit). Supports pagination. 1 credit per 20 items returned (minimum 1 if any results, 0 if empty). Use count=0 for a free total-only check."
      tags:
        - "scrapers"
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            example:
              postUrl: "https://www.linkedin.com/feed/update/urn:li:activity:1234567890123456789/"
              start: 0
            schema:
              type: "object"
              properties:
                postUrl:
                  type: "string"
                  description: "LinkedIn post URL to inspect for reactions."
                start:
                  description: "Pagination offset (multiples of 100)."
                  type: "integer"
                  minimum: 0
                  maximum: 9007199254740991
                count:
                  description: "Number of likes to fetch per page (0-100, default 100). LinkedIn caps at 100 per request. Use count=0 for a free total-only check (0 credits, no rate-limit slot consumed)."
                  type: "integer"
                  minimum: 0
                  maximum: 100
              required:
                - "postUrl"
      responses:
        "200":
          description: "List of profiles who liked the post"
          content:
            application/json:
              example:
                success: true
                profiles:
                  - name: "Alex Doe"
                    headline: "Growth Lead @ Example"
                    profileUrl: "https://www.linkedin.com/in/alex-doe"
                    imageUrl: "https://media.licdn.com/dms/image/C4D03AQG1/profile-displayphoto-shrink_200_200/0/..."
                    publicIdentifier: "alex-doe"
                    profileUrn: "urn:li:fsd_profile:ACoAABZ0Qo4B6pt58d4FVmts1F7TPi4D1-uL1fw"
                    type: "like"
                    reactionType: "LIKE"
                count: 1
                total: 250
                start: 0
                hasMore: true
                previousTotal: null
                creditsUsed: 1
                retryAfter: 0
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                    enum:
                      - true
                  profiles:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        name:
                          type: "string"
                        headline:
                          nullable: true
                          type: "string"
                        profileUrl:
                          nullable: true
                          type: "string"
                        imageUrl:
                          nullable: true
                          type: "string"
                        publicIdentifier:
                          nullable: true
                          description: "Vanity slug from profile URL (e.g. john-doe) when not URN-based"
                          type: "string"
                        profileUrn:
                          nullable: true
                          description: "LinkedIn profile URN (e.g. urn:li:fsd_profile:ACoAAA...) when available"
                          type: "string"
                        type:
                          type: "string"
                          enum:
                            - "like"
                        reactionType:
                          description: "Reaction type (e.g. 'LIKE', 'CELEBRATE', 'EMPATHY', 'INTEREST', 'PRAISE', 'APPRECIATION')."
                          type: "string"
                      required:
                        - "name"
                        - "headline"
                        - "profileUrl"
                        - "imageUrl"
                        - "publicIdentifier"
                        - "profileUrn"
                        - "type"
                      additionalProperties: false
                  count:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  total:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  start:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  hasMore:
                    type: "boolean"
                  previousTotal:
                    nullable: true
                    description: "The total from your last call to this endpoint for the same post (null on first call). Compare with total to detect new likes without client-side tracking."
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  creditsUsed:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                    description: "Credits consumed by this call (0 for free endpoints, cached results, or duplicates)."
                  retryAfter:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                    description: "Seconds to wait before making another call of the same type. 0 means no wait needed."
                required:
                  - "success"
                  - "profiles"
                  - "count"
                  - "total"
                  - "start"
                  - "hasMore"
                  - "previousTotal"
                  - "creditsUsed"
                  - "retryAfter"
                additionalProperties: false
        "400":
          description: "The server cannot or will not process the request due to something that is perceived to be a client error."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "bad_request"
                  message: "The server cannot or will not process the request due to something that is perceived to be a client error."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "401":
          description: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unauthorized"
                  message: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "403":
          description: "The client does not have access rights to the content."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "forbidden"
                  message: "The client does not have access rights to the content."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "404":
          description: "The server cannot find the requested resource."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "not_found"
                  message: "The server cannot find the requested resource."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "409":
          description: "The request conflicts with the current state of the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "conflict"
                  message: "The request conflicts with the current state of the server."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "410":
          description: "The requested content has been permanently deleted from the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "invite_expired"
                  message: "The requested content has been permanently deleted from the server."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "422":
          description: "The request was well-formed but was unable to be followed due to semantic errors."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unprocessable_entity"
                  message: "The request was well-formed but was unable to be followed due to semantic errors."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "429":
          description: "Rate limit exceeded. Read error.retryAfter for the wait time in seconds."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "rate_limit_exceeded"
                  message: "Rate limit exceeded"
                  docs: "https://api.berea.ch"
                  retryAfter: 4
                  daily:
                    current: 25
                    limit: 150
                  weekly: null
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                        enum:
                          - "rate_limit_exceeded"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      retryAfter:
                        type: "integer"
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                        description: "Seconds to wait before retrying."
                      daily:
                        nullable: true
                        description: "Current and max daily usage (null if no daily cap)."
                        type: "object"
                        properties:
                          current:
                            type: "integer"
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          limit:
                            type: "integer"
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                        required:
                          - "current"
                          - "limit"
                        additionalProperties: false
                      weekly:
                        nullable: true
                        description: "Current and max weekly usage (null if no weekly cap)."
                        type: "object"
                        properties:
                          current:
                            type: "integer"
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          limit:
                            type: "integer"
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                        required:
                          - "current"
                          - "limit"
                        additionalProperties: false
                    required:
                      - "code"
                      - "message"
                      - "retryAfter"
                      - "daily"
                      - "weekly"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "500":
          description: "The server encountered a situation it does not know how to handle."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "internal_server_error"
                  message: "The server encountered a situation it does not know how to handle."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "502":
          description: "LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "bad_gateway"
                  message: "LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "503":
          description: "Proxy capacity temporarily exceeded. Retry after a few seconds."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "service_unavailable"
                  message: "Proxy capacity temporarily exceeded. Retry after a few seconds."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
      x-speakeasy-group: linkedinScrapers
  /collect/linkedin/comments:
    post:
      operationId: "collectComments"
      x-speakeasy-name-override: "collectComments"
      summary: "Scrape LinkedIn post comments"
      description: "Returns paginated top-level comments for a LinkedIn post (newest first). 1 credit per 20 items returned (minimum 1 if any results, 0 if empty). Use count=0 for a free total-only check (0 credits, no rate-limit slot consumed). Response includes previousTotal (server-cached) to detect new comments without client tracking."
      tags:
        - "scrapers"
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            example:
              postUrl: "https://www.linkedin.com/feed/update/urn:li:activity:1234567890123456789/"
              start: 0
              count: 100
            schema:
              type: "object"
              properties:
                postUrl:
                  type: "string"
                  description: "LinkedIn post URL to inspect for comments."
                start:
                  description: "Pagination offset (multiples of 100)."
                  type: "integer"
                  minimum: 0
                  maximum: 9007199254740991
                count:
                  description: "Number of comments to fetch per page (0-100, default 100). Use count=0 for a free total-only check (0 credits, no rate-limit slot consumed — can call count=100 immediately after)."
                  type: "integer"
                  minimum: 0
                  maximum: 100
                campaignSlug:
                  description: "When provided, each profile in the response includes actionsCompleted (message/reply/like/visit/connect booleans) and knownDistance (cached memberDistance from recent visits, null if not cached). Enables campaign-aware scraping without manual cross-referencing."
                  type: "string"
              required:
                - "postUrl"
      responses:
        "200":
          description: "List of profiles who commented on the post"
          content:
            application/json:
              example:
                success: true
                profiles:
                  - name: "Sam Smith"
                    headline: "Founder @ Startup"
                    profileUrl: "https://www.linkedin.com/in/sam-smith"
                    imageUrl: "https://media.licdn.com/dms/image/C4D03AQG1/profile-displayphoto-shrink_200_200/0/..."
                    publicIdentifier: "sam-smith"
                    profileUrn: "urn:li:fsd_profile:ACoAABZ0Qo4B6pt58d4FVmts1F7TPi4D1-uL1fw"
                    commentText: "Love this insight!"
                    timestamp: 1731547200000
                    isEdited: false
                    commentUrn: "urn:li:comment:(activity:1234567890123456789,9876543210987654321)"
                    commentHash: "a1b2c3d4e5f6..."
                    isPostAuthor: false
                    repliesCount: 2
                    hasReplyFromPostAuthor: false
                    postUrn: "urn:li:activity:1234567890123456789"
                    postHash: "f6e5d4c3b2a1..."
                    type: "comment"
                count: 1
                total: 12
                start: 0
                hasMore: true
                previousTotal: 10
                creditsUsed: 1
                retryAfter: 0
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                    enum:
                      - true
                  profiles:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        name:
                          type: "string"
                        headline:
                          nullable: true
                          type: "string"
                        profileUrl:
                          nullable: true
                          type: "string"
                        imageUrl:
                          nullable: true
                          type: "string"
                        publicIdentifier:
                          nullable: true
                          description: "Vanity slug from profile URL (e.g. john-doe) when not URN-based"
                          type: "string"
                        profileUrn:
                          nullable: true
                          description: "LinkedIn profile URN (e.g. urn:li:fsd_profile:ACoAAA...) when available"
                          type: "string"
                        type:
                          type: "string"
                          enum:
                            - "comment"
                        commentText:
                          type: "string"
                        timestamp:
                          nullable: true
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        isEdited:
                          type: "boolean"
                        commentUrn:
                          description: "Full comment URN — use directly for /reply and /like endpoints. Do NOT reconstruct from hash fields."
                          type: "string"
                        commentHash:
                          description: "SHA256 hash of commentUrn — use for dedup slugs only, not for building URNs."
                          type: "string"
                        isPostAuthor:
                          description: "True if the commenter is the post author."
                          type: "boolean"
                        repliesCount:
                          description: "Number of replies to this comment."
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        hasReplyFromPostAuthor:
                          description: "True if the post author already replied to this comment. Null when unknown (e.g. LinkedIn only preloaded partial replies)."
                          nullable: true
                          type: "boolean"
                        parentCommentUrn:
                          description: "URN of the parent comment, present on replies only."
                          type: "string"
                        postUrn:
                          type: "string"
                        postHash:
                          description: "SHA256 hash of postUrn — use for dedup slugs only."
                          type: "string"
                        actionsCompleted:
                          description: "Per-profile action completion status within the campaign. Only present when campaignSlug is provided in the request."
                          type: "object"
                          properties:
                            message:
                              type: "boolean"
                            reply:
                              type: "boolean"
                            like:
                              type: "boolean"
                            visit:
                              type: "boolean"
                            connect:
                              type: "boolean"
                          required:
                            - "message"
                            - "reply"
                            - "like"
                            - "visit"
                            - "connect"
                          additionalProperties: false
                        knownDistance:
                          nullable: true
                          description: "Cached memberDistance from a recent profile visit (1 = connected, 2 = 2nd degree, etc.). null if campaignSlug not provided or profile not visited recently."
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                      required:
                        - "name"
                        - "headline"
                        - "profileUrl"
                        - "imageUrl"
                        - "publicIdentifier"
                        - "profileUrn"
                        - "type"
                        - "timestamp"
                        - "knownDistance"
                      additionalProperties: false
                  count:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  total:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  start:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  hasMore:
                    type: "boolean"
                  previousTotal:
                    nullable: true
                    description: "The total from your last call to this endpoint for the same post (null on first call). Compare with total to detect new comments without client-side tracking."
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  processedCount:
                    description: "Number of returned profiles that already have a completed 'message' action in this campaign. Only present when campaignSlug is provided."
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  newCount:
                    description: "Number of returned profiles that have NOT yet been messaged in this campaign. Only present when campaignSlug is provided."
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  creditsUsed:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                    description: "Credits consumed by this call (0 for free endpoints, cached results, or duplicates)."
                  retryAfter:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                    description: "Seconds to wait before making another call of the same type. 0 means no wait needed."
                required:
                  - "success"
                  - "profiles"
                  - "count"
                  - "total"
                  - "start"
                  - "hasMore"
                  - "previousTotal"
                  - "creditsUsed"
                  - "retryAfter"
                additionalProperties: false
        "400":
          description: "The server cannot or will not process the request due to something that is perceived to be a client error."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "bad_request"
                  message: "The server cannot or will not process the request due to something that is perceived to be a client error."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "401":
          description: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unauthorized"
                  message: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "403":
          description: "The client does not have access rights to the content."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "forbidden"
                  message: "The client does not have access rights to the content."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "404":
          description: "The server cannot find the requested resource."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "not_found"
                  message: "The server cannot find the requested resource."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "409":
          description: "The request conflicts with the current state of the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "conflict"
                  message: "The request conflicts with the current state of the server."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "410":
          description: "The requested content has been permanently deleted from the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "invite_expired"
                  message: "The requested content has been permanently deleted from the server."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "422":
          description: "The request was well-formed but was unable to be followed due to semantic errors."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unprocessable_entity"
                  message: "The request was well-formed but was unable to be followed due to semantic errors."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "429":
          description: "Rate limit exceeded. Read error.retryAfter for the wait time in seconds."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "rate_limit_exceeded"
                  message: "Rate limit exceeded"
                  docs: "https://api.berea.ch"
                  retryAfter: 4
                  daily:
                    current: 25
                    limit: 150
                  weekly: null
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                        enum:
                          - "rate_limit_exceeded"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      retryAfter:
                        type: "integer"
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                        description: "Seconds to wait before retrying."
                      daily:
                        nullable: true
                        description: "Current and max daily usage (null if no daily cap)."
                        type: "object"
                        properties:
                          current:
                            type: "integer"
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          limit:
                            type: "integer"
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                        required:
                          - "current"
                          - "limit"
                        additionalProperties: false
                      weekly:
                        nullable: true
                        description: "Current and max weekly usage (null if no weekly cap)."
                        type: "object"
                        properties:
                          current:
                            type: "integer"
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          limit:
                            type: "integer"
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                        required:
                          - "current"
                          - "limit"
                        additionalProperties: false
                    required:
                      - "code"
                      - "message"
                      - "retryAfter"
                      - "daily"
                      - "weekly"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "500":
          description: "The server encountered a situation it does not know how to handle."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "internal_server_error"
                  message: "The server encountered a situation it does not know how to handle."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "502":
          description: "LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "bad_gateway"
                  message: "LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "503":
          description: "Proxy capacity temporarily exceeded. Retry after a few seconds."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "service_unavailable"
                  message: "Proxy capacity temporarily exceeded. Retry after a few seconds."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
      x-speakeasy-group: linkedinScrapers
  /collect/linkedin/comments/replies:
    post:
      operationId: "collectCommentReplies"
      x-speakeasy-name-override: "collectCommentReplies"
      summary: "Scrape replies to a LinkedIn comment"
      description: "Returns paginated replies for a specific LinkedIn comment. Use the commentUrn from the comments endpoint response. 1 credit per 20 items returned (minimum 1 if any results, 0 if empty)."
      tags:
        - "scrapers"
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            example:
              commentUrn: "urn:li:comment:(activity:7654321098765432100,1234567890)"
            schema:
              type: "object"
              properties:
                commentUrn:
                  type: "string"
                  description: "Comment URN returned by the comments endpoint (e.g., 'urn:li:comment:(activity:123456,789)')."
                start:
                  description: "Pagination offset (default 0)."
                  type: "integer"
                  minimum: 0
                  maximum: 9007199254740991
                count:
                  description: "Number of replies to fetch per page (0-100, default 100). Use count=0 for a free total-only check (0 credits, no rate-limit slot consumed)."
                  type: "integer"
                  minimum: 0
                  maximum: 100
              required:
                - "commentUrn"
      responses:
        "200":
          description: "List of replies to the comment"
          content:
            application/json:
              example:
                success: true
                replies:
                  - name: "Jane Doe"
                    headline: "Product Manager at Acme"
                    profileUrl: "https://www.linkedin.com/in/janedoe"
                    imageUrl: "https://media.licdn.com/dms/image/example/photo.jpg"
                    publicIdentifier: "janedoe"
                    profileUrn: "urn:li:fsd_profile:ACoAABZ0Qo4B6pt58d4FVmts1F7TPi4D1-uL1fw"
                    type: "comment"
                    commentText: "Great point! I totally agree."
                    timestamp: 1700000000000
                    isEdited: false
                count: 1
                total: 3
                start: 0
                hasMore: true
                parentCommentUrn: "urn:li:comment:(activity:7654321098765432100,1234567890)"
                previousTotal: null
                creditsUsed: 1
                retryAfter: 0
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                    enum:
                      - true
                  replies:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        name:
                          type: "string"
                        headline:
                          nullable: true
                          type: "string"
                        profileUrl:
                          nullable: true
                          type: "string"
                        imageUrl:
                          nullable: true
                          type: "string"
                        publicIdentifier:
                          nullable: true
                          description: "Vanity slug from profile URL (e.g. john-doe) when not URN-based"
                          type: "string"
                        profileUrn:
                          nullable: true
                          description: "LinkedIn profile URN (e.g. urn:li:fsd_profile:ACoAAA...) when available"
                          type: "string"
                        type:
                          type: "string"
                          enum:
                            - "comment"
                        commentText:
                          type: "string"
                        timestamp:
                          nullable: true
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        isEdited:
                          type: "boolean"
                        commentUrn:
                          description: "Full comment URN — use directly for /reply and /like endpoints. Do NOT reconstruct from hash fields."
                          type: "string"
                        commentHash:
                          description: "SHA256 hash of commentUrn — use for dedup slugs only, not for building URNs."
                          type: "string"
                        isPostAuthor:
                          description: "True if the commenter is the post author."
                          type: "boolean"
                        repliesCount:
                          description: "Number of replies to this comment."
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        hasReplyFromPostAuthor:
                          description: "True if the post author already replied to this comment. Null when unknown (e.g. LinkedIn only preloaded partial replies)."
                          nullable: true
                          type: "boolean"
                        parentCommentUrn:
                          description: "URN of the parent comment, present on replies only."
                          type: "string"
                        postUrn:
                          type: "string"
                        postHash:
                          description: "SHA256 hash of postUrn — use for dedup slugs only."
                          type: "string"
                        actionsCompleted:
                          description: "Per-profile action completion status within the campaign. Only present when campaignSlug is provided in the request."
                          type: "object"
                          properties:
                            message:
                              type: "boolean"
                            reply:
                              type: "boolean"
                            like:
                              type: "boolean"
                            visit:
                              type: "boolean"
                            connect:
                              type: "boolean"
                          required:
                            - "message"
                            - "reply"
                            - "like"
                            - "visit"
                            - "connect"
                          additionalProperties: false
                        knownDistance:
                          nullable: true
                          description: "Cached memberDistance from a recent profile visit (1 = connected, 2 = 2nd degree, etc.). null if campaignSlug not provided or profile not visited recently."
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                      required:
                        - "name"
                        - "headline"
                        - "profileUrl"
                        - "imageUrl"
                        - "publicIdentifier"
                        - "profileUrn"
                        - "type"
                        - "timestamp"
                        - "knownDistance"
                      additionalProperties: false
                  count:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  total:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  start:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  hasMore:
                    type: "boolean"
                  parentCommentUrn:
                    type: "string"
                  previousTotal:
                    nullable: true
                    description: "The total from your last call to this endpoint for the same comment (null on first call). Compare with total to detect new replies without client-side tracking."
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  creditsUsed:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                    description: "Credits consumed by this call (0 for free endpoints, cached results, or duplicates)."
                  retryAfter:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                    description: "Seconds to wait before making another call of the same type. 0 means no wait needed."
                required:
                  - "success"
                  - "replies"
                  - "count"
                  - "total"
                  - "start"
                  - "hasMore"
                  - "parentCommentUrn"
                  - "previousTotal"
                  - "creditsUsed"
                  - "retryAfter"
                additionalProperties: false
        "400":
          description: "The server cannot or will not process the request due to something that is perceived to be a client error."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "bad_request"
                  message: "The server cannot or will not process the request due to something that is perceived to be a client error."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "401":
          description: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unauthorized"
                  message: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "403":
          description: "The client does not have access rights to the content."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "forbidden"
                  message: "The client does not have access rights to the content."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "404":
          description: "The server cannot find the requested resource."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "not_found"
                  message: "The server cannot find the requested resource."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "409":
          description: "The request conflicts with the current state of the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "conflict"
                  message: "The request conflicts with the current state of the server."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "410":
          description: "The requested content has been permanently deleted from the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "invite_expired"
                  message: "The requested content has been permanently deleted from the server."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "422":
          description: "The request was well-formed but was unable to be followed due to semantic errors."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unprocessable_entity"
                  message: "The request was well-formed but was unable to be followed due to semantic errors."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "429":
          description: "Rate limit exceeded. Read error.retryAfter for the wait time in seconds."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "rate_limit_exceeded"
                  message: "Rate limit exceeded"
                  docs: "https://api.berea.ch"
                  retryAfter: 4
                  daily:
                    current: 25
                    limit: 150
                  weekly: null
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                        enum:
                          - "rate_limit_exceeded"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      retryAfter:
                        type: "integer"
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                        description: "Seconds to wait before retrying."
                      daily:
                        nullable: true
                        description: "Current and max daily usage (null if no daily cap)."
                        type: "object"
                        properties:
                          current:
                            type: "integer"
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          limit:
                            type: "integer"
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                        required:
                          - "current"
                          - "limit"
                        additionalProperties: false
                      weekly:
                        nullable: true
                        description: "Current and max weekly usage (null if no weekly cap)."
                        type: "object"
                        properties:
                          current:
                            type: "integer"
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          limit:
                            type: "integer"
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                        required:
                          - "current"
                          - "limit"
                        additionalProperties: false
                    required:
                      - "code"
                      - "message"
                      - "retryAfter"
                      - "daily"
                      - "weekly"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "500":
          description: "The server encountered a situation it does not know how to handle."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "internal_server_error"
                  message: "The server encountered a situation it does not know how to handle."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "502":
          description: "LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "bad_gateway"
                  message: "LinkedIn returned a server error or the proxy connection failed. Retry after a few seconds."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "503":
          description: "Proxy capacity temporarily exceeded. Retry after a few seconds."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "service_unavailable"
                  message: "Proxy capacity temporarily exceeded. Retry after a few seconds."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
      x-speakeasy-group: linkedInScrapers
  /collect/linkedin/posts:
    post:
      operationId: "collectPosts"
      x-speakeasy-name-override: "collectPosts"
      summary: "Scrape LinkedIn profile posts"
      description: "Returns paginated posts from a LinkedIn profile. Supports count, start, and paginationToken for pagination. 1 credit per 20 items returned (minimum 1 if any results, 0 if empty). Use count=0 for a free total-only check."
      tags:
        - "scrapers"
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            example:
              profileUrl: "https://www.linkedin.com/in/username"
              count: 20
              start: 0
            schema:
              type: "object"
              properties:
                profileUrl:
                  type: "string"
                  description: "LinkedIn profile identifier. Accepts full URLs (e.g. https://www.linkedin.com/in/username), vanity names (e.g. john-doe), or profile URNs (e.g. urn:li:fsd_profile:ACoAAA...)."
                count:
                  description: "Number of posts to fetch (0-100, default 20). Use count=0 for a free total-only check (0 credits, no rate-limit slot consumed)."
                  type: "integer"
                  minimum: 0
                  maximum: 100
                start:
                  description: "Pagination offset (default 0)."
                  type: "integer"
                  minimum: 0
                  maximum: 9007199254740991
                paginationToken:
                  description: "Pagination token from a previous response to fetch the next page."
                  type: "string"
              required:
                - "profileUrl"
      responses:
        "200":
          description: "Paginated list of posts from the profile"
          content:
            application/json:
              example:
                success: true
                posts:
                  - postUrl: "https://www.linkedin.com/posts/username_activity-1234567890"
                    text: "Post content here"
                    date: 1731547200000
                    likesCount: 50
                    commentsCount: 10
                    sharesCount: 5
                    postUrn: "urn:li:activity:1234567890"
                    postId: "1234567890"
                    type: "activity"
                count: 1
                total: 42
                start: 0
                hasMore: true
                paginationToken: "abc123-pagination-token"
                creditsUsed: 1
                retryAfter: 0
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                    enum:
                      - true
                  posts:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        postUrl:
                          type: "string"
                        text:
                          type: "string"
                        date:
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        likesCount:
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        commentsCount:
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        sharesCount:
                          type: "integer"
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        postUrn:
                          type: "string"
                        postId:
                          type: "string"
                        type:
                          type: "string"
                          enum:
                            - "activity"
                            - "ugcPost"
                            - "share"
                        media:
                          description: "Media attached to the post (image, video, document, or article). Absent when the post is text-only."
                          type: "object"
                          properties:
                            type:
                              type: "string"
                              enum:
                                - "image"
                                - "video"
                                - "document"
                                - "article"
                              description: "Type of media attached to the post."
                            urls:
                              type: "array"
                              items:
                                type: "string"
                              description: "Media URLs (image URLs for carousels, video streaming URL, article link, etc.)."
                            title:
                              description: "Title of the article or document, when available."
                              type: "string"
                            thumbnailUrl:
                              description: "Thumbnail URL for videos, articles, or document covers."
                              type: "string"
                          required:
                            - "type"
                            - "urls"
                          additionalProperties: false
                      required:
                        - "postUrl"
                        - "text"
                        - "date"
                        - "likesCount"
                        - "commentsCount"
                        - "sharesCount"
                        - "postUrn"
                        - "postId"
                        - "type"
                      additionalProperties: false
                  count:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  total:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  start:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  hasMore:
                    type: "boolean"
                  paginationToken:
                    nullable: true
                    type: "string"
                  previousTotal:
                    nullable: true
                    description: "The total from your last call to this endpoint for the same profile (null on first call). Compare with total to detect new posts without client-side tracking."
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  creditsUsed:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                    description: "Credits consumed by this call (0 for free endpoints, cached results, or duplicates)."
                  retryAfter:
                    type: "integer"
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                    description: "Seconds to wait before making another call of the same type. 0 means no wait needed."
                required:
                  - "success"
                  - "posts"
                  - "count"
                  - "total"
                  - "start"
                  - "hasMore"
                  - "paginationToken"
                  - "previousTotal"
                  - "creditsUsed"
                  - "retryAfter"
                additionalProperties: false
        "400":
          description: "The server cannot or will not process the request due to something that is perceived to be a client error."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "bad_request"
                  message: "The server cannot or will not process the request due to something that is perceived to be a client error."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "401":
          description: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "unauthorized"
                  message: "Although HTTP specifies \"unauthorized\", this response means \"unauthenticated\". Authenticate to continue."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "403":
          description: "The client does not have access rights to the content."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "forbidden"
                  message: "The client does not have access rights to the content."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "404":
          description: "The server cannot find the requested resource."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "not_found"
                  message: "The server cannot find the requested resource."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "409":
          description: "The request conflicts with the current state of the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "conflict"
                  message: "The request conflicts with the current state of the server."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
                      - false
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      message:
                        type: "string"
                      docs:
                        type: "string"
                        format: "uri"
                      details:
                        anyOf:
                          - type: "string"
                          - type: "array"
                            items:
                              type: "string"
                    required:
                      - "code"
                      - "message"
                    additionalProperties: false
                required:
                  - "success"
                  - "error"
                additionalProperties: false
        "410":
          description: "The requested content has been permanently deleted from the server."
          content:
            application/json:
              example:
                success: false
                error:
                  code: "invite_expired"
                  message: "The requested content has been permanently deleted from the server."
                  docs: "https://api.berea.ch"
              schema:
                type: "object"
                properties:
                  success:
                    default: false
                    type: "boolean"
                    enum:
[...]
